<!--<div class="zig-zag"></div>-->
<section id="section_about" class="about">
  <div class="swiper-container about__container">
    <div class="swiper-wrapper swiper-wrapper_list">
      <div class="swiper-slide about__list-item">
        <h3>«Siberian company»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000"
              data-sal-easing="ease-out-back">Our company OOO “Siberian nut” was founded in 2015. The base and the head office are located in Karsnoyarsk Krai that is very close to main pine nut harvest territories in Russia.</span>
      </div>
      <div class="swiper-slide about__list-item">
        <h3>«With care from Siberia»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">We specialize in the processing of the pine nut harvested in ecologically pure areas of rich Siberian Taiga. We take care about the quality of our product in order to let our clients to fill up with real Siberian health.</span>
      </div>
      <div class="swiper-slide about__list-item">
        <h3>«Siberian facilities»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Our main focus is on shelled pine nut kernels production. We process more than 2000 mt of raw material and get more than 800 mt of kernels.</span>
      </div>
    </div>
    <div class="swiper-button-prev about__swiper-control--prev about__swiper-control">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next about__swiper-control--next about__swiper-control">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>
</section>
