<section id="section_catalog" class="catalog">
  <h2 class="visually-hidden"></h2>
  <div class="catalog__wrapper">
    <div class="catalog__wrapper-list">
      <input class="visually-hidden" type="radio" value="1" id="advantage-1" name="toggle" checked>
      <input class="visually-hidden" type="radio" value="0" id="advantage-0" name="toggle">
      <input class="visually-hidden" type="radio" value="2" id="advantage-2" name="toggle">
      <input class="visually-hidden" type="radio" value="3" id="advantage-3" name="toggle">
      <input class="visually-hidden" type="radio" value="4" id="advantage-4" name="toggle">
      <input class="visually-hidden" type="radio" value="5" id="advantage-5" name="toggle">
      <input class="visually-hidden" type="radio" value="6" id="advantage-6" name="toggle">
      <!--      <ul class="catalog__wrapper-controls">-->
      <!--        <li class="catalog__controls">-->
      <div class="catalog__wrapper-controls" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--1" for="advantage-1">SIBERIAN PINE NUT KERNEL</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--0" for="advantage-0">KOREAN PINE NUT KERNEL</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--2" for="advantage-2">PINE NUT OIL</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--3" for="advantage-3">PINE NUT CAKE</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--4" for="advantage-4">PINE NUT SHELL</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--5" for="advantage-5">PINE NUT MEMBRANE</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--6" for="advantage-6">CRUSHED PINE NUT</label>
      </div>
      <!--        </li>-->
      <ul class="catalog__list">
        <li class="catalog__slide" id="advantage-1">
          <div class="catalog__wrapper-box-item" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <h3>SIBERIAN PINE NUT KERNEL</h3>
            <p>Is the result of the processing of the Siberian pine nuts (Pinus Sibirica). Pine nut kernels is a storehouse of vitamins and useful substances needed to a modern human. I tastes a bit sweet, the color varies from milk-white to pale yellow. It is rich in macro- and microelements such
              as phosphorus, magnesium, potassium, sodium and calcium; iron, manganese, copper, zinc, molybdenum, silicon, aluminum, iodine, boron, nickel, cobalt, lead, strontium. Is used as a ready product or an ingredient for cooking food of different countries. The main area of Siberian pine
              cones harvest is the Republic of Buryatia forests.</p>
            <p class="catalog__wrapper-box-item-packing">Packaging</p>
            <span>Vacuumed polybags:</span>
          </div>
          <div class="swiper-container catalog__wrapper-box-packing sal-slider-kernel--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__wrapper-box-list">
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/100g.jpg" alt="0,1kg" aria-label="0,1kg">
                <div class="swiper-lazy-preloader"></div>
                <span>0,1kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/0,2.jpg" alt="0,2kg" aria-label="0,2kg">
                <div class="swiper-lazy-preloader"></div>
                <span>0,2kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/0,3.jpg" alt="0,3kg" aria-label="0,3kg">
                <div class="swiper-lazy-preloader"></div>
                <span>0,3kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/0,5.jpg" alt="0,5kg" aria-label="0,5kg">
                <div class="swiper-lazy-preloader"></div>
                <span>0,5kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/1.jpg" alt="1kg" aria-label="1kg">
                <div class="swiper-lazy-preloader"></div>
                <span>1kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/12,5.jpg" alt="12,5kg" aria-label="12,5kg">
                <div class="swiper-lazy-preloader"></div>
                <span>12,5kg</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/40.jpg" alt="40kg" aria-label="40kg">
                <div class="swiper-lazy-preloader"></div>
                <span>40kg</span>
              </div>
            </div>
            <div class="swiper-button-prev catalog__slide-controls catalog__slide-controls--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls catalog__slide-controls--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
              - +8oC to +20oC – 12 months<br>- 0oC to +7oC – 24 months
              </span>
            </div>
          </div>

        </li>

        <li class="catalog__slide" id="advantage-0">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
              <h3>KOREAN PINE NUT KERNEL</h3>
              <p>Korean pine also known as Pínus koraiénsis commonly grows in the eastern Asia. It is adapted to climates with very cold winters. The canary yellow kernels of Korean pine nuts are much larger in size than kernels of Siberian pine. It does not have a significant pine nut sweet flavor,
                but it has delightful pitchy scent that will remind you the vast of wild forest.
                The Korean pine cones are harvested only in non-polluted green areas of Russia. The Korean pine cones are usually harvested in Siberia Far East (Amurskaya oblast).
                The Korean pine nut kernel is highly valuable food product. The amount of phosphorus in the Korean pine nuts exceeds all other types of nuts and oilseeds and it is equivalent to soybeans. As all nuts they are high in fat (especially polyunsaturated fatty acids). 100 grams of nuts
                satisfy 15% of the body's daily protein requirement; the protein of the Korean pine nuts also contains amino acids.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span>Vacuumed polybags:</span>
            </div>

            <div class="swiper-container catalog__container-east sal-slider-east--js">
              <div class="swiper-wrapper catalog__wrapper-box-list" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
                <div class="swiper-slide catalog__container-east-slide">
                  <img class="swiper-lazy" src="themes/nuts/assets/images/productionUnit/1EastVZ.jpg" width="550" alt="1kg">
                  <div class="swiper-lazy-preloader"></div>
                  <span>1kg</span>
                </div>
                <div class="swiper-slide catalog__container-east-slide">
                  <img class="swiper-lazy" src="themes/nuts/assets/images/productionUnit/12,5EastVZ.jpg" width="550" alt="12,5kg">
                  <div class="swiper-lazy-preloader"></div>
                  <span>12,5kg</span>
                </div>
                <div class="swiper-slide catalog__container-east-slide">
                  <img class="swiper-lazy" src="themes/nuts/assets/images/productionUnit/40.jpg" width="550" alt="40kg">
                  <div class="swiper-lazy-preloader"></div>
                  <span>40kg</span>
                </div>
                <div class="swiper-button-prev catalog__slide-controls-east catalog__slide-controls-east--prev">
                  <svg width="32" height="32">
                    <use xlink:href="#arrow_left"></use>
                  </svg>
                </div>
                <div class="swiper-button-next catalog__slide-controls-east catalog__slide-controls-east--next">
                  <svg width="32" height="32">
                    <use xlink:href="#arrow_right"></use>
                  </svg>
                </div>
              </div>

              <div class="catalog__wrapper-box-storage">
                <button class="button catalog__button contact-button--feedback-js">
                  <p class="buttton__title">ORDER</p>
                  <span></span>
                </button>
                <span>Shelf life:<br>
             - +8oC to +20oC – 12 months<br>- 0oC to +7oC – 24 months.
              </span>
              </div>
            </div>
          </div>
        </li>


        <li class="catalog__slide" id="advantage-2">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
              <h3>PINE NUT OIL (UNREFINED)</h3>
              <p>Is a result of cold pressing of pine nut kernels. It lets to save all useful properties. The oil is rich in A, D, E, F and B group vitamins, polyunsaturated fatty acid – oleic, linolenic, linoleic, pinolenic and etc.; phospholipids; saturated fatty acids — stearic, eicosanic and
                palmitic; macro and microelements - phosphorus, magnesium, potassium, zinc, sodium, iodine, manganese, iron, copper. It is a ready product used for consumption, in cooking , cosmetology and medicine.
                N.B.: Pine nut oil has not only medical properties, but also contradictions.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span> - Glass bottle 0,25ml</span>
            </div>
          </div>
          <div class="swiper-container catalog__slider-oil sal-slider-oil--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper">
              <div class="swiper-slide catalog__slider-oil-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/maslo.jpg" width="550" alt="Oil">
                <div class="swiper-lazy-preloader"></div>
                <span>0,25ml</span>
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
             - 6 months in case of compliance of storage conditions.<br>
                  * check availability
              </span>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-3" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>PINE NUT CAKE</h3>
              <p>Is a dry mass that is left after the extraction of oil. Pine nut cake saves useful properties of pine nut kernels but has less fats that is very useful for sportsmen and those who sticks to proper nutrition. Cake iis used for consumption, cooking or producing flour.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span> - Vacuumed polybags 0,5kg, 1kg</span>
            </div>
          </div>
          <div class="swiper-container catalog__slider-jmikh sal-slider-jmikh--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__wrapper-box-packing-list">
              <div class="swiper-slide catalog__slider-jmikh-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/jmich.jpg" width="550" alt="nut cake">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
              - 24 months<br>
                 * check availability
              </span>
            </div>
          </div>
        </li>

        <li class="catalog__slide " id="advantage-4" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>PINE NUT SHELL</h3>
              <p>Valuable product got during the processing of pine nut. It contains fiber, cellulose, polysaccharides, glutamic acid, vitamin C, calcium, tannins and other components. Is used in brew, scrubs in cosmetology; as a ecological friendly fuel for specialized boilers; as a raw material
                for producing kedroplast, in landscape design and agricultural enterprises.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span> - Polypropylene bag 20-25kg</span>
            </div>
          </div>

          <div class="swiper-container catalog__container-shell sal-slider-shell--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-shell-wrapper">
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/scorlupa_3.jpg" width="550" alt="shell">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/scorlupa_2.jpg" width="550" alt="shell">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <!--              <div class="swiper-slide catalog__container-shell-slide">-->
              <!--                <img class="" src="themes/nuts/assets/images/productionUnit/skorlupa.jpg" width="550" alt="shell">-->
              <!--              </div>-->
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/scorlupa_1.jpg" width="550" alt="shell">
              </div>


            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
              - 24 months in case compliance of storage conditions.<br>
                  * check availability
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-shell catalog__slide-controls-shell--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-shell catalog__slide-controls-shell--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-5" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>PINE NUT MEMBRANE</h3>
              <p>Is a thin film of golden-brown color, formed while peeling pine nuts in a special machine that separates shell, membrane and core. Membrane is lifted by air flows and goes into sealed hooper. From hooper it goes to the packaging. The membrane contains macro- and microelements such
                as phosphorus, sulfur, calcium, potassium, iron, manganese, and silicon. It is used as a filling for pillows that will have a pleasant pine aroma. Also it is used in cosmetology and pharmaceutics.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span> - Polypropylene bags of 6kg.</span>
            </div>
          </div>
          <div class="swiper-container catalog__container-membrane sal-slider-membrane--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-membrane-wrapper">
              <div class="swiper-slide catalog__container-membrane-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/plenka_meshok.jpg" width="550" alt="membrane">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide catalog__container-membrane-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/plenka_podushka.jpg" width="550" alt="membrane">
                <div class="swiper-lazy-preloader"></div>
              </div>

            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
              - 12 months in case compliance of storage conditions.
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-membrane catalog__slide-controls-membrane--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-membrane catalog__slide-controls-membrane--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-6" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>CRUSHED PINE NUT KERNELS</h3>
              <p>This product comes out on the stage of sorting. I t has the same useful properties as kernels but do not meet the requirements of GOST about organoleptic characteristics (appearance, color, taste, smell). Is not suitable for human consumption but can be used as an feed additive of
                pigs, chicken and dogs. Is also used for fertilizing in agricultural industry.
              </p>
              <p class="catalog__wrapper-box-item-packing">Packaging</p>
              <span> - on demand</span>
            </div>
          </div>
          <div class="swiper-container catalog__container-crushed sal-slider-crushed--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-crushed-wrapper">
              <div class="swiper-slide catalog__container-crushed-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/kolotoe_yadro.jpg" width="550" alt="crushed kernel">
                <div class="swiper-lazy-preloader"></div>
              </div>
              <div class="swiper-slide catalog__container-crushed-slide">
                <img class="swiper-lazy" data-src="themes/nuts/assets/images/productionUnit/kolotoe_yadro_1.jpg" width="550" alt="crushed kernel">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ORDER</p>
                <span></span>
              </button>
              <span>Shelf life:<br>
              - 8 months.
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-crushed catalog__slide-controls-crushed--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-crushed catalog__slide-controls-crushed--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>


<section class="catalog__kernel--full">
  <button class="catalog__full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container catalog__wrapper-box-packing--full">
    <div class="swiper-wrapper catalog__wrapper-box-list--full">
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/100g-full-2k.jpg" alt="0,1kg" aria-label="0,1kg">
          <span>0,1kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/0,2.jpg" alt="0,2kg" aria-label="0,10,2kg">
          <span>0,2kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/0,3.jpg" alt="0,3kg" aria-label="0,3kg">
          <span>0,3kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/0,5.jpg" alt="0,5kg" aria-label="0,5kg">
          <span>0,5kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/1.jpg" alt="1kg" aria-label="1kg">
          <span>1kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/12,5.jpg" alt="12,5kg" aria-label="12,5kg">
          <span>12,5kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/40.jpg" alt="40kg" aria-label="40kg">
          <span>40kg</span>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev catalog__slide-controls catalog__slide-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next catalog__slide-controls catalog__slide-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>
</section>

<section class="catalog__east--full">
  <button class="catalog__east-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-east--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/1EastVZ.jpg" alt="1000гр" aria-label="1000гр">
          <span>0,2kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/12,5EastVZ.jpg" alt="12,5kg" aria-label="12,5kg">
          <span>0,2kg</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/full/40.jpg" alt="40kg" aria-label="40kg">
          <span>0,2kg</span>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-east catalog__slide-controls-east--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-east catalog__slide-controls-east--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>
</section>

<section class="catalog__oil--full">
  <button class="catalog__oil-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-oil--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/maslo.jpg" alt="Масло">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog__jmikh--full">
  <button class="catalog__jmikh-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-jmikh--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/jmich.jpg" alt="Жмых">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog__shell--full">
  <button class="catalog__shell-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-shell--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa_3.jpg" alt="Скорлупа">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa_2.jpg" alt="Скорлупа">
        </div>
      </div>
      <!--      <div class="swiper-slide">-->
      <!--        <div class="swiper-zoom-container">-->
      <!--          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa.jpg" alt="Скорлупа">-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa_1.jpg" alt="Скорлупа">
        </div>
      </div>


    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-shell catalog__slide-controls-shell--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-shell catalog__slide-controls-shell--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>
  </div>

</section>

<section class="catalog__membrane--full">
  <button class="catalog__membrane-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-membrane--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/plenka_meshok.jpg" alt=Плёнка>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/plenka_podushka.jpg" alt=Плёнка>
        </div>
      </div>

    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-membrane catalog__slide-controls-membrane--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-membrane catalog__slide-controls-membrane--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>
  </div>

</section>


<section class="catalog__crushed--full">
  <button class="catalog__crushed-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-crushed--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/kolotoe_yadro.jpg" alt="Колотое ядро">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/kolotoe_yadro_1.jpg" alt="Колотое ядро">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-crushed catalog__slide-controls-crushed--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-crushed catalog__slide-controls-crushed--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>

</section>
