<section id="section_gallery" class="gallery">
  <div class="gallery__header">
    <h1 class="gallery__title">
      <span>Photos and videos</span>
    </h1>
  </div>
  <div class="swiper-container gallery_container">
    <div class="swiper-wrapper gallery_wrapper">
      <div class="swiper-slide gallery_slide">
        <video controls="" height="720"
               poster="themes/nuts/assets/images/gallery/poster_one.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/video_nuts_ru_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide">
        <video controls=""
               poster="themes/nuts/assets/images/gallery/poster_two.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/virtual_tur_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/100g.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/200g.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/300g.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/500g.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/1kg.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/oil.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/jm.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120408.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120409.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120410.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120411.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120414.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120415.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120416.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120422.jpg" >
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image" src="themes/nuts/assets/images/gallery/P1120425.jpg" >
      </div>
    </div>
    <div class="swiper-pagination swiper-video-pagination"></div>
    <div class="swiper-button-prev gallery-control gallery-control--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next gallery-control gallery-control--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>

  </div>

</section>

<section class="gallery--full-screen">
  <button class="gallery__full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container gallery_container--full">
    <div class="swiper-wrapper gallery_wrapper--full">
      <div class="swiper-slide gallery_slide--full">
        <video controls=""
               poster="themes/nuts/assets/images/gallery/full/poster_one_full.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/video_nuts_ru_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <video controls=""
               poster="themes/nuts/assets/images/gallery/full/poster_two_full.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/virtual_tur_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/100g.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/200g.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/300g.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/500g.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/1kg.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/oil.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/jm.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120408.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120409.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120410.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120411.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120414.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120415.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120416.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120422.jpg">
        </div>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <img class="gallery_slide-image--full" src="themes/nuts/assets/images/gallery/full/P1120425.jpg">
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-video-pagination--full"></div>
    <div class="swiper-button-prev gallery-control gallery-control--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next gallery-control gallery-control--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>

  </div>

</section>
