<section id="section_products" class="products">
  <h1>OUR PRODUCTION</h1>
  <span>The main types of products are:</span>
  <div class="swiper-container products__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper products__swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut kernel</h3>
            <button class="products__contact-button products__contact-button--seed">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--seed"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Cedar nut oil</h3>
            <button class="products__contact-button products__contact-button--oil">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--oil"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Presscake pine nut</h3>
            <button class="products__contact-button products__contact-button--jmich">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--jmich"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut shell</h3>
            <button class="products__contact-button products__contact-button--scorlupa">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--scorlupa"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Membrane of the cedar nut</h3>
            <button class="products__contact-button products__contact-button--plenka">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--plenka"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Crushed pine nut kernel</h3>
            <button class="products__contact-button products__contact-button--kolotoe">
              <span>DETAILED</span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--kolotoe"></div>
        </div>
      </div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev products__slide-controls products__slide-controls--prev"></div>
    <div class="swiper-button-next products__slide-controls products__slide-controls--next"></div>
    <!--        <svg width="50" height="100">-->
    <!--          <use xlink:href="themes/nuts/assets/images/sprite.svg#products-slide-prev"></use>-->
    <!--        </svg>-->

  </div>

  <!--        <svg width="50" height="100">-->
  <!--          <use xlink:href="themes/nuts/assets/images/sprite.svg#products-slide-next"></use>-->
  <!--        </svg>-->
</section>

