<section id="section_products" class="products">
  <h1>OUR PRODUCTION</h1>
  <span>The main types of products are:</span>
  <div class="swiper-container products__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper products__swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Siberian pine nut kernel</h3>
            <button class="button products__contact-button products__contact-button--seed">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--seed"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Korean pine nut kernel</h3>
            <button class="button products__contact-button products__contact-button--east">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--east"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut oil</h3>
            <button class="button products__contact-button products__contact-button--oil">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--oil"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut cake</h3>
            <button class="button products__contact-button products__contact-button--jmich">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--jmich"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut shell</h3>
            <button class="button products__contact-button products__contact-button--scorlupa">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--scorlupa"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Pine nut membrane</h3>
            <button class="button products__contact-button products__contact-button--plenka">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--plenka"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo_en.svg" width="251" height="103" alt="SibNut">
            <h3>Crushed pine nut</h3>
            <button class="button products__contact-button products__contact-button--kolotoe">
              <p class="buttton__title">DETAILED</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--kolotoe"></div>
        </div>
      </div>

    </div>

    <div class="swiper-button-prev products__slide-controls products__slide-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next products__slide-controls products__slide-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>

  </div>
</section>

