<section id="section_quality" class="quality">
  <div class="quality__wrapper-box" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
    <div class="swiper-container quality__wrapper">
      <div class="swiper-wrapper quality__wrapper-list">
        <div class="swiper-slide quality__wrapper-list-item">
          <h3>COLLECTING</h3>
          <span>We cooperate with the collectors from harvesting areas like Buryatia Republic, Khakassia Republic, Tuva Republic, Tomsk Oblast. We only buy the raw material that successfully passed quality control test..</span>
        </div>
        <div class="swiper-slide quality__wrapper-list-item">
          <h3>EQUIPMENT</h3>
          <span>The factory is equipped with modern equipment from Germany and China that can remove the smallest foreign bodies and other impurities.</span>
        </div>
        <div class="swiper-slide quality__wrapper-list-item">
          <h3>QUALITY</h3>
          <span>Our factory works according to standards GOST, BRC, HACCP, regulated the quality of not only the product but the operation of the whole factory. The product is always under strict quality and humidity control made by highly qualified technicians. After the nut being shelled and cleaned, it passes through laboratory testing for mold, parasites, heavy metals, aflatoxins etc.</span>
        </div>
        <div class="swiper-slide quality__wrapper-list-item">
          <h3>TECHNOLOGY</h3>
          <span>The factory implements the special technology of pine nut shelling and cleaning that lets us get the high-quality product. The last step of the processing is the vacuum packing. It remains the kernels in a perfect condition for a long time. The product is kept only in dry, dark and cool places and the temperature should not be higher than +5 C. Strict implementation of the processing technology is one of the most important requirements to personnel we make.</span>
        </div>
      </div>
    </div>

  </div>
  <div class="swiper-button-prev quality__control-prev quality__control-prev--prev"></div>
  <div class="swiper-button-next quality__control-next quality__control-next--next"></div>
</section>
