<section id="section_teaser" class="teaser">
  <div class="teaser__container" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
    <div class="teaser__utp-wrapper">
      <h1 class="teaser__title">PINE NUT KERNELS</h1>
      <span>from the manufacturer</span>
      <button class="button teaser__button contact-button--feedback-js" href="#">
        <p class="buttton__title">MAKE AN ORDER</p>
        <span></span>
      </button>
    </div>
  </div>
  <div class="teaser__address" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
    <a href="#" class="teaser-container__adress my-menu__link--map">64 A Traktovaya Str., 662520 Berezovka Settlement, Krasnoyarsk City, Russia</a>
  </div>
</section>


