@mixin transition($properties...) {
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  transition-property: $properties;
}

@mixin effect-opacity {
  @include transition(opacity);

  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

//@mixin background2x($url) {
//  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//    background-image: url($url);
//  }
//}

@mixin desktop-min {
  @media (max-width: $desktop-min) {
    @content;
  }
}

@mixin desktop-width {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-width {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-width {
  @media (max-width: $mobile) {
    @content;
  }
}

