$accent: gray;
$black: #090c08;
$red: #ED1C24;


$mobile: 320px;
$phablet-width: 480px;
$tablet: 767px;
$desktop: 1299px;
$desktop-min: 1607px;
$desktop-width: 1920px;

$mobile-width-only: 768px;
$tablet-width-only: 1300px;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transition
$transition-timing-function: linear;
$transition-duration: 100ms;
