<!--<div class="zig-zag"></div>-->
<section id="section_about" class="about">
  <div class="swiper-container about__container">
    <div class="swiper-wrapper swiper-wrapper_list">
      <div class="swiper-slide about__list-item">
        <h3>«Сибирская компания»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000"
              data-sal-easing="ease-out-back">Наша компания ООО «Сибирский орех» была основана в 2015 году. Производство и главный офис расположены в Красноярском крае, что территориально близко к главным местам сбора урожая кедрового ореха в России.</span>
      </div>
      <div class="swiper-slide about__list-item">
        <h3>«Из Сибири с заботой»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Мы специализируемся на переработке кедрового ореха, собранного в экологически чистых районах богатой, сибирской тайги. Мы заботимся о качестве нашей продукции, чтобы клиенты могли наполниться настоящим сибирским здоровьем.</span>
      </div>
      <div class="swiper-slide about__list-item">
        <h3>«Сибирские мощности»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Основным направлением работы является производство очищенного ядра кедрового ореха. В год мы перерабатываем более 2000 тонн сырья и производим более 800 тонн ядра.</span>
      </div>
    </div>
    <div class="swiper-button-prev about__swiper-control--prev about__swiper-control">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next about__swiper-control--next about__swiper-control">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>


</section>
