<section id="layout-content" class="about">
  <div class="swiper-container about__container">
    <ul class="swiper-wrapper about__container-list ">
      <li class="swiper-slide about__list-item">
        <h3>«Сибирская компания»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000"
              data-sal-easing="ease-out-back">Наша компания ООО «Сибирский орех» была основана в 2015 году. Производство и главный офис расположены в Красноярском крае, что территориально близко к главным местам сбора урожая кедрового ореха в России.</span>
      </li>
      <li class="swiper-slide about__list-item">
        <h3>«Из Сибири с заботой»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Мы специализируемся на переработке кедрового ореха, собранного в экологически чистых районах богатой, сибирской тайги. Мы заботимся о качестве нашей продукции, чтобы клиенты могли наполниться настоящим сибирским здоровьем.</span>
      </li>
      <li class="swiper-slide about__list-item">
        <h3>«Сибирские мощности»</h3>
        <svg width="65" height="94" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <use xlink:href="themes/nuts/assets/images/sprite.svg#cropped-faviconGREEN"></use>
        </svg>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Основным направлением работы является производство очищенного ядра кедрового ореха. В год мы перерабатываем более 2000 тонн сырья и производим более 800 тонн ядра.</span>
      </li>
    </ul>
  </div>

  <!--  <div class="sertificates__swiper">-->
  <!--    &lt;!&ndash; Additional required wrapper &ndash;&gt;-->
  <!--    <div class="">-->
  <!--      &lt;!&ndash; Slides &ndash;&gt;-->
  <!--      <div class=" certificates__slide">Sertificate of registration-->
  <!--        <img class="" src="themes/nuts/assets/images/certificates/1.jpg" width="406" height="538">-->
  <!--      </div>-->
  <!--      <div class="swiper-slide certificates__slide" >Slide 2</div>-->
  <!--      <div class="swiper-slide certificates__slide" >Slide 3</div>-->
  <!--    </div>-->
  <!--    &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--    <div class="swiper-pagination"></div>-->

  <!--    &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
  <!--    <div class="swiper-button-prev"></div>-->
  <!--    <div class="swiper-button-next"></div>-->

  <!--    &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
  <!--    <div class="swiper-scrollbar"></div>-->
  <!--  </div>-->
</section>
