<section id="section_catalog" class="catalog">
  <h2 class="visually-hidden"></h2>
  <div class="catalog__wrapper">
    <div class="catalog__wrapper-list">
      <input class="visually-hidden" type="radio" value="1" id="advantage-1" name="toggle" checked>
      <input class="visually-hidden" type="radio" value="2" id="advantage-2" name="toggle">
      <input class="visually-hidden" type="radio" value="3" id="advantage-3" name="toggle">
      <input class="visually-hidden" type="radio" value="4" id="advantage-4" name="toggle">
      <input class="visually-hidden" type="radio" value="5" id="advantage-5" name="toggle">
      <input class="visually-hidden" type="radio" value="6" id="advantage-6" name="toggle">
      <!--      <ul class="catalog__wrapper-controls">-->
      <!--        <li class="catalog__controls">-->
      <div class="catalog__wrapper-controls" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--1" for="advantage-1">ОЧИЩЕННОЕ ЯДРО КЕДРОВОГО ОРЕХА</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--2" for="advantage-2">МАСЛО КЕДРОВОЕ НЕРАФИНИРОВАННОЕ</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--3" for="advantage-3">КЕДРОВЫЙ ЖМЫХ</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--4" for="advantage-4">СКОРЛУПА КЕДРОВОГО ОРЕХА</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--5" for="advantage-5">ПЛЁНКА КЕДРОВОГО ОРЕХА</label>
        <label class="catalog__controls catalog__wrapper-controls-item catalog__wrapper-controls-item--6" for="advantage-6">КОЛОТОЕ ЯДРО КЕДРОВОГО ОРЕХА (НЕКОНДИЦИЯ)</label>
      </div>
      <!--        </li>-->
      <ul class="catalog__list">
        <li class="catalog__slide" id="advantage-1">
          <div class="catalog__wrapper-box-item" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <h3>ЯДРО КЕДРОВОГО ОРЕХА</h3>
            <p>Представляет собой готовый продукт, полученный в процессе переработки семян кедровой сосны сибирской (бот. Pinus Sibirica). Ядро кедрового ореха издавна считается кладезем витаминов и полезных веществ, так необходимых современному человеку сегодня. Имеет приятный сладковатый вкус,
              цвет варьируется от молочного белого до бледно-желтого. Ядро насыщенно макро- и микроэлементами, такими как фосфор, магний, калий, натрий и кальций; железо, марганец, медь, цинк, молибден, кремний, алюминий, йод, бор, никель, кобальт, свинец, стронций. Используется как готовый
              продукт,
              так и в качестве ингредиента блюд разных стран.</p>
            <p class="catalog__wrapper-box-item-packing">Фасовка</p>
            <span>Вакуумные пакеты весом:</span>
          </div>


          <div class="swiper-container catalog__wrapper-box-packing sal-slider-kernel--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__wrapper-box-list">
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/0,1.jpg" alt="0,1кг" aria-label="0,1кг">
                <span>0,1кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/0,2.jpg" alt="0,2кг" aria-label="0,2кг">
                <span>0,2кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/0,3.jpg" alt="0,3кг" aria-label="0,3кг">
                <span>0,3кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/0,5.jpg" alt="0,5кг" aria-label="0,5кг">
                <span>0,5кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/1.jpg" alt="1кг" aria-label="1кг">
                <span>1кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/12,5.jpg" alt="12,5кг" aria-label="12,5кг">
                <span>12,5кг</span>
              </div>
              <div class="swiper-slide catalog__wrapper-box-packing-slide">
                <img class="catalog__wrapper-box-packing-slide-image" src="themes/nuts/assets/images/productionUnit/40.jpg" alt="40кг" aria-label="40кг">
                <span>40кг</span>
              </div>
            </div>
            <div class="swiper-button-prev catalog__slide-controls catalog__slide-controls--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls catalog__slide-controls--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
            - при температуре от +8°C до +20°C  - 12 месяцев<br>- при температуре от 0°C до +7°C - 24 месяца.
              </span>
            </div>
          </div>

        </li>

        <li class="catalog__slide" id="advantage-2">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
              <h3>МАСЛО КЕДРОВОЕ НЕРАФИНИРОВАННОЕ</h3>
              <p>Производится путем холодного прессования семян сосны сибирской, что позволяет сохранить все полезные свойства, заложенные природой. Кедровое масло богато витаминами А, D, E, F и витаминами группы B; полиненасыщенными жирными кислотами — олеиновой, линоленовой, линолевой, пиноленовой
                и т. д.; фосфолипидами; насыщенными жирными кислотами — стеариновой, эйкозановой и пальмитиновой; макро и микроэлементами — фосфором, магнием, калием, цинком, натрием, йодом, марганцем, железом, медью. Является продуктом, готовым к употреблению, широко применяется в кулинарии,
                косметологии и медицине.
                N.B.: Кедровое масло имеет не только лечебные свойства, но и противопоказания.
              </p>
              <p class="catalog__wrapper-box-item-packing">Фасовка</p>
              <span> - стеклянная бутылка объемом 0,25 мл</span>
            </div>
          </div>
          <div class="swiper-container catalog__slider-oil sal-slider-oil--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper">
              <div class="swiper-slide catalog__slider-oil-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/maslo.jpg" width="550" alt="Масло">
                <span>0,25мл</span>
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
             - 6 месяцев при соблюдении условий хранения.<br>
                  *уточняйте наличие
              </span>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-3" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>КЕДРОВЫЙ ЖМЫХ</h3>
              <p>Представляет собой сухую массу, оставшуюся от орешков после отжима масла. Жмых сохраняет полезные свойства кедровых орехов, но имеет меньшее содержание жиров, что прекрасно подходит для спортсменов, и тех, кто придерживается правильного питания. Жмых – это продукт, готовый к
                употреблению в пищу, широко используется в кулинарии и для последующего изготовления кедровой муки.
              </p>
              <p class="catalog__wrapper-box-item-packing">Фасовка</p>
              <span> - вакуумный пакет весом 0,5кг и 1 кг</span>
            </div>
          </div>
          <div class="swiper-container catalog__slider-jmikh sal-slider-jmikh--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__wrapper-box-packing-list">
              <div class="swiper-slide catalog__slider-jmikh-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/jmich.jpg" width="550" alt="Жмых">
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
              - 24 месяца.<br>
                  *уточняйте наличие
              </span>
            </div>
          </div>
        </li>

        <li class="catalog__slide " id="advantage-4" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>СКОРЛУПА КЕДРОВОГО ОРЕХА</h3>
              <p>Ценный продукт, получаемый в процессе переработки кедрового ореха. Содержит в себе клетчатку, целлюлозу, полисахариды, глютаминовую кислоту, витамин С, кальций, дубильные вещества и другие компоненты. Применяется для приготовления различных настоев; изготовления скрабов в
                косметологии; в качестве экологически чистого топлива для специально оборудованных котельных; в качестве сырья для изготовления кедропласта; при ландшафтных работах и на сельскохозяйственных предприятиях.
              </p>
              <p class="catalog__wrapper-box-item-packing">Фасовка</p>
              <span> - полипропиленовые мешки по 20кг -25кг</span>
            </div>
          </div>

          <div class="swiper-container catalog__container-shell sal-slider-shell--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-shell-wrapper">
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/skorlupa.jpg" width="550" alt="Скорлупа">
              </div>
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/skorlupa.jpg" width="550" alt="Скорлупа">
              </div>
              <div class="swiper-slide catalog__container-shell-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/skorlupa.jpg" width="550" alt="Скорлупа">
              </div>

            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
               - 24 месяца при соблюдении условий хранения.<br>
                  *уточняйте наличие
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-shell catalog__slide-controls-shell--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-shell catalog__slide-controls-shell--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-5" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>ПЛЁНКА КЕДРОВОГО ОРЕХА</h3>
              <p>Околоплодная плёнка кедрового ореха представляет собой тонкую пленочку золотисто-коричневого цвета, образуется при шелушении кедрового ореха в специальном станке, который разделяет орех на скорлупу, плёнку и ядро. Плёнка поднимается вверх потоками воздуха и по трубопроводу поступает
                в герметичный бункер. Из бункера плёнка сразу попадает в упаковку. Околоплодная оболочка семян содержит макро- и микроэлементы такие, как фосфор, сера, кальций, калий, железо, марганец и кремний. Пленка используется в качестве наполнителя для подушек, которые будут обладать приятным
                кедровым ароматом. Также кедровая пленка находит применение в фармацевтике и косметологии.
              </p>
              <p class="catalog__wrapper-box-item-packing">Фасовка</p>
              <span> - полипропиленовые мешки по 6кг</span>
            </div>
          </div>
          <div class="swiper-container catalog__container-membrane sal-slider-membrane--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-membrane-wrapper">
              <div class="swiper-slide catalog__container-membrane-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/plenka_podushka.jpg" width="550" alt="Плёнка">
              </div>
              <div class="swiper-slide catalog__container-membrane-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/plenka_podushka.jpg" width="550" alt="Плёнка">
              </div>
              <div class="swiper-slide catalog__container-membrane-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/plenka_podushka.jpg" width="550" alt="Плёнка">
              </div>
            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
                - 12 месяцеа при соблюдении условий хранения.
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-membrane catalog__slide-controls-membrane--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-membrane catalog__slide-controls-membrane--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="catalog__slide" id="advantage-6" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
          <div class="catalog__wrapper-box-items">
            <div class="catalog__wrapper-box-item">
              <h3>КОЛОТОЕ ЯДРО КЕДРОВОГО ОРЕХА (НЕКОНДИЦИЯ)</h3>
              <p>Продукт, образующийся на этапе сортировки ядра. Обладает теми же полезными свойствами, что и очищенное ядро, но не соответствует требованиям ГОСТа по органолептическим свойствам (внешний вид, цвет, вкус, запах). Не пригоден для употребления в пищу человеком, но подходит в качестве
                добавки к ежедневному рациону курей, свиней, собак. Используется в качестве природного удобрения в сельском хозяйстве.
              </p>
              <p class="catalog__wrapper-box-item-packing">Фасовка</p>
              <span> - по запросу</span>
            </div>
          </div>
          <div class="swiper-container catalog__container-crushed sal-slider-crushed--js" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
            <div class="swiper-wrapper catalog__container-crushed-wrapper">
              <div class="swiper-slide catalog__container-crushed-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/kolotoe_yadro.jpg" width="550" alt="Колотое ядро">
              </div>
              <div class="swiper-slide catalog__container-crushed-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/kolotoe_yadro.jpg" width="550" alt="Колотое ядро">
              </div>
              <div class="swiper-slide catalog__container-crushed-slide">
                <img class="" src="themes/nuts/assets/images/productionUnit/kolotoe_yadro.jpg" width="550" alt="Колотое ядро">
              </div>

            </div>
            <div class="catalog__wrapper-box-storage">
              <button class="button catalog__button contact-button--feedback-js">
                <p class="buttton__title">ЗАКАЗАТЬ</p>
                <span></span>
              </button>
              <span>Срок годности:<br>
                 - 8 месяцев.
              </span>
            </div>
            <div class="swiper-button-prev catalog__slide-controls-crushed catalog__slide-controls-crushed--prev">
              <svg width="32" height="32">
                <use xlink:href="#arrow_left"></use>
              </svg>
            </div>
            <div class="swiper-button-next catalog__slide-controls-crushed catalog__slide-controls-crushed--next">
              <svg width="32" height="32">
                <use xlink:href="#arrow_right"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>


<section class="catalog__kernel--full">
  <button class="catalog__full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container catalog__wrapper-box-packing--full">
    <div class="swiper-wrapper catalog__wrapper-box-list--full">
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/0,1.jpg" alt="0,1кг" aria-label="0,1кг">
          <span>0,1кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/0,2.jpg" alt="0,2кг" aria-label="0,10,2кг">
          <span>0,2кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/0,3.jpg" alt="0,3кг" aria-label="0,3кг">
          <span>0,3кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/0,5.jpg" alt="0,5кг" aria-label="0,5кг">
          <span>0,5кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/1.jpg" alt="1кг" aria-label="1кг">
          <span>1кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/12,5.jpg" alt="12,5кг" aria-label="12,5кг">
          <span>12,5кг</span>
        </div>
      </div>
      <div class="swiper-slide catalog__wrapper-box-packing-slide--full">
        <div class="swiper-zoom-container">
          <img class="" src="themes/nuts/assets/images/productionUnit/40.jpg" alt="40кг" aria-label="40кг">
          <span>40кг</span>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev catalog__slide-controls catalog__slide-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next catalog__slide-controls catalog__slide-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>
</section>

<section class="catalog__oil--full">
  <button class="catalog__oil-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-oil--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/maslo.jpg" alt="Масло">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog__jmikh--full">
  <button class="catalog__jmikh-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-jmikh--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/jmich.jpg" alt="Жмых">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="catalog__shell--full">
  <button class="catalog__shell-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-shell--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa.jpg" alt="Скорлупа">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa.jpg" alt="Скорлупа">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/scorlupa.jpg" alt="Скорлупа">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-shell catalog__slide-controls-shell--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-shell catalog__slide-controls-shell--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>
  </div>

</section>

<section class="catalog__membrane--full">
  <button class="catalog__membrane-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-membrane--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/plenka_podushka.jpg" alt=Плёнка>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/plenka_podushka.jpg" alt="Плёнка">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/plenka_podushka.jpg" alt="Плёнка">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-membrane catalog__slide-controls-membrane--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-membrane catalog__slide-controls-membrane--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>
  </div>

</section>


<section class="catalog__crushed--full">
  <button class="catalog__crushed-full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container show-full-crushed--js">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/kolotoe_yadro.jpg" alt="Колотое ядро">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/kolotoe_yadro.jpg" alt="Колотое ядро">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="swiper-slide-image" src="themes/nuts/assets/images/productionUnit/full/kolotoe_yadro.jpg" alt="Колотое ядро">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev catalog__slide-controls-crushed catalog__slide-controls-crushed--prev">
    <svg width="32" height="32">
      <use xlink:href="#arrow_left"></use>
    </svg>
  </div>
  <div class="swiper-button-next catalog__slide-controls-crushed catalog__slide-controls-crushed--next">
    <svg width="32" height="32">
      <use xlink:href="#arrow_right"></use>
    </svg>
  </div>

</section>
