<section id="section_certificates" class="certificates">
  <div class="certificates__titles">
    <h1>Сертификаты</h1>
    <span>Объективным показателем качества товара является его соответствие стандартам,
внутригосударственным и международным.
Наш продукт является сертифицированным по системе государственного стандарта
ГОСТ 31852-2012 (ISO 6756:1984), который также имеет силу в международном сообществе.</span>
  </div>

  <div class="swiper-container certificates__swiper">
    <div class="swiper-wrapper certificates__wrapper">
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/BRC.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/1-ISO.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/2-ISO.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/3-ISO.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/4-ISO.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/Declaration.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/Declaration(new).jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="certificates__slide swiper-lazy" data-src="themes/nuts/assets/images/certificates/INC.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-pagination swiper-certificates-pagination"></div>
    <div class="swiper-button-prev certificates__slider-controls certificates__slider-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next certificates__slider-controls certificates__slider-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>

  <div class="certificates__protocols">
  <span>Протоколы испытаний, ТУ, ТИ, остальные сертификаты
предоставляются по запросу на официальную почту нашей компании
siborekh@mail.ru</span>
    <svg class="contact-button--feedback-js" width="53" height="34.78">
      <use xlink:href="#mail"></use>
    </svg>
  </div>


</section>

<section class="certificates--full">
  <button class="certificates__full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>

  <div class="swiper-container certificates__swiper--full">
    <div class="swiper-wrapper certificates__wrapper--full">

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/BRC.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/BRC-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/BRC-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/BRC-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/1-ISO.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/1-ISO-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/1-ISO-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/1-ISO-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/2-ISO.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/2-ISO-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/2-ISO-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/2-ISO-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/3-ISO.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/3-ISO-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/3-ISO-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/3-ISO-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/4-ISO.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/4-ISO-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/4-ISO-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/4-ISO-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/Declaration.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/Declaration-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/Declaration-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/Declaration-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/Declaration(new).jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/Declaration(new)-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/Declaration(new)-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/Declaration(new)-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide certificates__slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="certificates__slide-image swiper-lazy"
                 data-src="themes/nuts/assets/images/certificates/full/INC.jpg"
                 data-srcset="
                             themes/nuts/assets/images/certificates/full/INC-mobile.jpg 768w,
                             themes/nuts/assets/images/certificates/full/INC-tablet.jpg 1200w,
                             themes/nuts/assets/images/certificates/full/INC-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>

      </div>


    </div>
    <div class="swiper-pagination swiper-certificates-pagination"></div>
    <div class="swiper-button-prev certificates__slider-controls certificates__slider-controls--prev">
      <svg width="32" height="32">`
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next certificates__slider-controls certificates__slider-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>

</section>
