<!--<div class="zig-zag"></div>-->
<section id="section_certificates" class="certificates">
  <div class="certificates__titles">
    <h1>Сертификаты</h1>
    <span>Объективным показателем качества товара является его соответствие стандартам,
внутригосударственным и международным.
Наш продукт является сертифицированным по системе государственного стандарта
ГОСТ 31852-2012 (ISO 6756:1984), который также имеет силу в международном сообществе.</span>
  </div>
  <div class="swiper-container sertificates__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide certificates__slide">
        <img class="" src="themes/nuts/assets/images/certificates/certificate_sootvetstviya.jpg" width="800" height="800">
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="" src="themes/nuts/assets/images/certificates/certificate_auditora.jpg" width="800" height="800">
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="" src="themes/nuts/assets/images/certificates/declaration_ru.jpg" width="800" height="800">
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="" src="themes/nuts/assets/images/certificates/razreshenie.jpg" width="800" height="800">
      </div>
      <div class="swiper-slide certificates__slide">
        <img class="" src="themes/nuts/assets/images/certificates/1.jpg" width="800" height="800">
      </div>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!--    &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
    <!--    <div class="swiper-scrollbar"></div>-->
  </div>
  <div class="certificates__protocols">
  <span>Протоколы испытаний, ТУ, ТИ, остальные сертификаты
предоставляются по запросу на официальную почту нашей компании
siborekh@mail.ru</span>
    <svg class="contact-button--feedback-js" width="53" height="34.78">
      <use xlink:href="themes/nuts/assets/images/sprite.svg#mail"></use>
    </svg>
  </div>
</section>
