<!--<div class="zig-zag"></div>-->
<section id="section_certificates" class="certificates">
  <div class="certificates__titles">
    <h1>Сертификаты</h1>
    <span>Объективным показателем качества товара является его соответствие стандартам,
внутригосударственным и международным.
Наш продукт является сертифицированным по системе государственного стандарта
ГОСТ 31852-2012 (ISO 6756:1984), который также имеет силу в международном сообществе.</span>
  </div>

  <div class="fotorama sertificates__swiper" data-width="800" data-allowfullscreen="native" data-nav="thumbs" data-thumbwidth="100" data-thumbheight="100" data-thumbborderwidth="4" data-thumbmargin="5" data-width="100%">

<!--    <a href="https://youtu.be/J-gGkKIrSl8"></a>-->
    <!--    <a href="https://youtu.be/zOM8bHFUTew"></a>-->
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Сертификсат BRC.jpg">
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Сертификсат_соответствия_1.jpg">
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Сертификсат_разрешение_2.jpg">
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Сертификсат_соответствия_аудитора_3.jpg">
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Декларация о соответствии.jpg">
    <img class="fotorama-img certificates__slide" src="themes/nuts/assets/images/certificates/Сертификсат_соответствия_INC.jpg">



  </div>
<!--  <div class="swiper-container sertificates__swiper">-->
<!--    <div class="swiper-wrapper">-->
<!--      <div class="swiper-slide certificates__slide">-->
<!--        <img class="" src="themes/nuts/assets/images/certificates/certificate_sootvetstviya.jpg" width="800" height="800">-->
<!--      </div>-->
<!--      <div class="swiper-slide certificates__slide">-->
<!--        <img class="" src="themes/nuts/assets/images/certificates/certificate_auditora.jpg" width="800" height="800">-->
<!--      </div>-->
<!--      <div class="swiper-slide certificates__slide">-->
<!--        <img class="" src="themes/nuts/assets/images/certificates/declaration_ru.jpg" width="800" height="800">-->
<!--      </div>-->
<!--      <div class="swiper-slide certificates__slide">-->
<!--        <img class="" src="themes/nuts/assets/images/certificates/razreshenie.jpg" width="800" height="800">-->
<!--      </div>-->
<!--      <div class="swiper-slide certificates__slide">-->
<!--        <img class="" src="themes/nuts/assets/images/certificates/1.jpg" width="800" height="800">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="swiper-pagination"></div>-->

<!--  </div>-->

  <div class="certificates__protocols">
  <span>Протоколы испытаний, ТУ, ТИ, остальные сертификаты
предоставляются по запросу на официальную почту нашей компании
siborekh@mail.ru</span>
    <svg class="contact-button--feedback-js" width="53" height="34.78">
      <use xlink:href="#mail"></use>
    </svg>
  </div>
<!--  <div class="swiper-button-prev certificates__slider-controls certificates__slider-controls&#45;&#45;prev">-->
<!--    <svg width="32" height="32">-->
<!--      <use xlink:href="#arrow_left"></use>-->
<!--    </svg>-->
<!--  </div>-->
<!--  <div class="swiper-button-next certificates__slider-controls certificates__slider-controls&#45;&#45;next">-->
<!--    <svg width="32" height="32">-->
<!--      <use xlink:href="#arrow_right"></use>-->
<!--    </svg>-->
<!--  </div>-->

</section>
