<section id="section_contacts" class="contacts">
  <h1>НАША КОМАНДА</h1>
  <div class="swiper-container contacts__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper contacts__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide contacts__slide">
        <div class="contacts__slide-wrapper">
          <div class="contacts__slide-image-title">
            <div class="contacts__slide-title">
              <h3>Директор</h3>
            </div>
          </div>
          <div class="contacts__slide-data contacts__slide-data--director">
            <h3>Прудников<br> Алексей Валерьевич</h3>
            <a class="export-second__mail" href="mailto:siborekh@mail.ru">
              <svg width="53" height="34.78">
                <use xlink:href="#mail"></use>
              </svg>
              <span class="contacts__mail-data">siborekh@mail.ru</span>
            </a>
            <a class="export-second__phone" href="tel:+79632631601">
              <svg width="53" height="52">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="contacts__phone-data">+79632631601</span>
            </a>
            <span class="contacts__phone-data-description">(звонить с 5:00 до 13:00 по Московскому времени)</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide contacts__slide">
        <div class="contacts__slide-wrapper">
          <div class="contacts__slide-image-title contacts__slide-image-title--moscow">
            <div class="contacts__slide-title contacts__slide-title--big">
              <h3>Менеджер отдела продаж (Московская область)</h3>
            </div>
          </div>
          <div class="contacts__slide-data contacts__slide-data--moscow">
            <h3>Чжао<br> Игорь Вэньянович</h3>
            <a class="export-second__mail" href="mailto:sibirskiy_oreh@mail.ru">
              <svg width="53" height="34.78">
                <use xlink:href="#mail"></use>
              </svg>
              <span class="contacts__mail-data">sibirskiy_oreh@mail.ru</span>
            </a>
            <a class="export-second__phone" href="tel:+79160062530">
              <svg width="53" height="52">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="contacts__phone-data">+79160062530</span>
            </a>
            <span class="contacts__phone-data-description">(звонить с 9:00 до 18:00 по Московскому времени)</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide contacts__slide">
        <div class="contacts__slide-wrapper">
          <div class="contacts__slide-image-title contacts__slide-image-title--krsk">
            <div class="contacts__slide-title contacts__slide-title--big">
              <h3>Менеджер отдела продаж (Красноярский край)</h3>
            </div>
          </div>
          <div class="contacts__slide-data contacts__slide-data--krsk">
            <h3>Любич<br> Татьяна Александровна</h3>
            <a class="export-second__mail" href="mailto:lub.siborekh@mail.ru">
              <svg width="53" height="34.78">
                <use xlink:href="#mail"></use>
              </svg>
              <span class="contacts__mail-data">lub.siborekh@mail.ru</span>
            </a>
            <a class="export-second__phone" href="tel:+79080267148">
              <svg width="53" height="52">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="contacts__phone-data">+79535931973</span>
            </a>
            <span class="contacts__phone-data-description">(Звонить с 5:00 до 13:00 по Московскому времени)</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide contacts__slide">
        <div class="contacts__slide-wrapper">
          <div class="contacts__slide-image-title contacts__slide-image-title--export-second">
            <div class="contacts__slide-title contacts__slide-title--big">
              <h3>Экспорт менеджер</h3>
            </div>
          </div>
          <div class="contacts__slide-data contacts__slide-data--export-second">
            <h3>Романова<br> Елена Игоревна</h3>
            <a class="export-second__mail" href="mailto:ek.siborekh@mail.ru">
              <svg width="53" height="34.78">
                <use xlink:href="#mail"></use>
              </svg>
              <span class="contacts__mail-data">ek.siborekh@mail.ru</span>
              <p class="contacts__mail-description">(для российских клиентов)</p>
            </a>
            <a class="export-second__mail" href="mailto:sib-nut@mail.ru">
              <span class="contacts__mail-data">sib-nut@mail.ru</span>
              <p class="contacts__mail-description">(для зарубежных клиентов)</p>
            </a>
            <a class="export-second__phone" href="tel:+79831551106">
              <svg width="53" height="52">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="contacts__phone-data">+79831551106</span>
            </a>
            <span class="contacts__phone-data-description">(Звонить с 5:00 до 13:00 по Московскому времени)</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide contacts__slide">
        <div class="contacts__slide-wrapper">
          <div class="contacts__slide-image-title contacts__slide-image-title--export-first">
            <div class="contacts__slide-title contacts__slide-title--big">
              <h3>Экспорт менеджер</h3>
            </div>
          </div>
          <div class="contacts__slide-data contacts__slide-data--export-first">
            <h3>Шулюшенкова<br> Дарья Сергеевна</h3>
            <a class="export-second__mail" href="mailto:ds.siborekh@mail.ru">
              <svg width="53" height="34.78">
                <use xlink:href="#mail"></use>
              </svg>
              <span class="contacts__mail-data">ds.siborekh@mail.ru</span>
              <p class="contacts__mail-description">(для российских клиентов)</p></a>
            <a class="export-second__mail" href="mailto:sib-nut@mail.ru">
              <span class="contacts__mail-data">sib-nut@mail.ru</span>
              <p class="contacts__mail-description">(для зарубежных клиентов)</p>
            </a>
            <a class="export-second__phone" href="tel:+79535949334">
              <svg width="53" height="52">
                <use xlink:href="#phone"></use>
              </svg>
              <span class="contacts__phone-data">+79535949334</span>
            </a>
            <span class="contacts__phone-data-description">(Звонить с 5:00 до 13:00 по Московскому времени)</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev contacts__slide-controls contacts__slide-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next contacts__slide-controls contacts__slide-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
  </div>
</section>

