<section class="gallery" id="layout-content">
  <div class="gallery__header">
    <h1 class="gallery__title">
      <span>Фото и видео</span>
    </h1>
  </div>
  <div class="fotorama gallery_container" data-width="1640" data-transition="crossfade" data-allowfullscreen="native" data-nav="thumbs" data-thumbwidth="100" data-thumbheight="100" data-thumbborderwidth="4" data-thumbmargin="5" data-width="100%">

    <a href="https://youtu.be/zOM8bHFUTew" data-video="true">
      <img src="themes/nuts/assets/images/gallery/video_skrin.jpg">
    </a>
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120408.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120409.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120410.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120411.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120412.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120414.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120415.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120416.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120417.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120419.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120420.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120422.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120424.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120425.jpg">
    <img class="fotorama-img" src="themes/nuts/assets/images/gallery/P1120426.jpg">


  </div>
  </div>

</section>
