<section id="section_gallery" class="gallery">
  <div class="gallery__header">
    <h1 class="gallery__title">
      <span>Фото и видео</span>
    </h1>
  </div>
  <div class="swiper-container gallery_container">
    <div class="swiper-wrapper gallery_wrapper">
      <div class="swiper-slide gallery_slide">
        <video class="video-gallery" controls="controls" height="720"
               poster="themes/nuts/assets/images/gallery/poster_one.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/video_nuts_ru_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide">
        <video class="video-gallery swiper-lazy" controls="controls" height="720"
               poster="themes/nuts/assets/images/gallery/poster_two.jpg"
               preload="none">
          <source data-src="themes/nuts/assets/videos/virtual_tur_convert.mov" type="video/mp4">
        </video>
        <div class="swiper-lazy-preloader" style="position: absolute; z-index: 10000000000000000"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/100g.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/200g.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/300g.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/500g.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/1kg.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/oil.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/jm.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/12,5.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/40.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/DSC_4248.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/DSC_4250.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/DSC_4254.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/DSC_4255.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120408.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120409.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120410.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120411.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120414.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120415.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120422.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
      <div class="swiper-slide gallery_slide">
        <img class="gallery_slide-image swiper-lazy" data-src="themes/nuts/assets/images/gallery/P1120425.jpg">
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-pagination swiper-video-pagination"></div>
    <div class="swiper-button-prev gallery-control gallery-control--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next gallery-control gallery-control--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>

  </div>

</section>

<section class="gallery--full-screen">
  <button class="gallery__full-close">
    <svg width="50" height="50">
      <use xlink:href="#close"></use>
    </svg>
  </button>
  <div class="swiper-container gallery_container--full">
    <div class="swiper-wrapper gallery_wrapper--full">
      <div class="swiper-slide gallery_slide--full">
        <video class="video-gallery" controls="controls"
               poster="themes/nuts/assets/images/gallery/full/poster_one_full.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/video_nuts_ru_convert.mov" type="video/mp4">
        </video>
      </div>
      <div class="swiper-slide gallery_slide--full">
        <video class="video-gallery" controls="controls"
               poster="themes/nuts/assets/images/gallery/full/poster_two_full.jpg"
               preload="none">
          <source src="themes/nuts/assets/videos/virtual_tur_convert.mov" type="video/mp4">
        </video>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/100g.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/100g-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/100g-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/100g-desktop.jpg 1920w">
          </picture>
          <div class="swiper-lazy-preloader"></div>
        </div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/200g.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/200g-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/200g-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/200g-desktop.jpg 1920w">
          </picture>
          <div class="swiper-lazy-preloader"></div>
        </div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/300g.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/300g-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/300g-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/300g-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/500g.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/500g-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/500g-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/500g-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/1kg.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/1kg-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/1kg-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/1kg-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/oil.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/oil-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/oil-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/oil-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/jm.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/jm-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/jm-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/jm-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/12,5.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/12,5-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/12,5-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/12,5-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/40.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/40-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/40-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/40-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/DSC_4248.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/DSC_4248-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/DSC_4248-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/DSC_4248-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/DSC_4250.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/DSC_4250-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/DSC_4250-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/DSC_4250-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/DSC_4254.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/DSC_4254-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/DSC_4254-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/DSC_4254-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/DSC_4255.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/DSC_4255-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/DSC_4255-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/DSC_4255-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120408.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120408-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120408-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120408-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120409.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120409-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120409-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120409-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120410.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120410-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120410-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120410-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120411.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120411-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120411-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120411-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120414.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120414-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120414-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120414-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120415.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120415-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120415-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120415-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120422.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120422-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120422-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120422-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

      <div class="swiper-slide gallery_slide--full">
        <div class="swiper-zoom-container">
          <picture>
            <img class="gallery_slide-image--full swiper-lazy"
                 data-src="themes/nuts/assets/images/gallery/full/P1120425.jpg"
                 data-srcset="
                             themes/nuts/assets/images/gallery/full/P1120425-mobile.jpg 768w,
                             themes/nuts/assets/images/gallery/full/P1120425-tablet.jpg 1200w,
                             themes/nuts/assets/images/gallery/full/P1120425-desktop.jpg 1920w">
          </picture>
        </div>
        <div class="swiper-lazy-preloader"></div>
      </div>

    </div>
    <div class="swiper-pagination swiper-video-pagination--full"></div>
    <div class="swiper-button-prev gallery-control gallery-control--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next gallery-control gallery-control--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>

  </div>

</section>
