<section id="layout-content" class="map">
  <!--      <p id="map" class="map__container-map" aria-label="Карта"></p>-->
  <div class="map__container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1114.815053362047!2d93.13408779036831!3d56.025078122347544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7a2f94d1dc429%3A0xd5637efa60ec9b26!2z0YPQuy4g0KLRgNCw0LrRgtC-0LLQsNGPLCA2NCwg0JHQtdGA0LXQt9C-0LLQutCwLCDQmtGA0LDRgdC90L7Rj9GA0YHQutC40Lkg0LrRgNCw0LksIDY2MjUyMA!5e0!3m2!1sru!2sru!4v1592395114007!5m2!1sru!2sru"
            width="1566" height="644" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
<!--  <div class="map-wrapper">-->
<!--    <div id="map" class="iframe-map"></div>-->
<!--  </div>-->
</section>

