<section id="section_partners" class="partners">
  <div class="partners__title" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
    <h1>Партнерам</h1>
  </div>
  <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Мы работаем с клиентами по всему миру и всегда открыты для новых контактов.</span>
  <ul class="partners__list" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">
    <li class="partners__list-item">
      <svg class="partners__list-item-icon" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#ico-list"></use>
      </svg>
      <span>1. Начало сотрудничества</span>
      <svg class="partners__list-item-arrow" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#green_arrow_right"></use>
      </svg>
      <span>После оговоренных условий сотрудничества, мы подписываем договор.</span>
    </li>
    <li class="partners__list-item">
      <svg class="partners__list-item-icon" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#ico-cart"></use>
      </svg>
      <span>2. Заказ</span>
      <svg class="partners__list-item-arrow" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#green_arrow_right"></use>
      </svg>
      <span>Клиент делает заказ на определенное количество товара, мы выставляем счет.</span>
    </li>
    <li class="partners__list-item">
      <svg class="partners__list-item-icon" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#ico-list"></use>
      </svg>
      <span>3. Обработка заказа</span>
      <svg class="partners__list-item-arrow" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#green_arrow_right"></use>
      </svg>
      <span>После оплаты, мы подготавливаем товар и все необходимые документы к отправке.</span>
    </li>
    <li class="partners__list-item">
      <svg class="partners__list-item-icon" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#ico-transport"></use>
      </svg>
      <span>4. Транспортировка</span>
      <svg class="partners__list-item-arrow" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#green_arrow_right"></use>
      </svg>
      <span>Готовый товар грузится и отправляется покупателю.</span>
    </li>
    <li class="partners__list-item">
      <svg class="partners__list-item-icon" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#ico-delivery"></use>
      </svg>
      <span>5. Доставка</span>
      <svg class="partners__list-item-arrow" width="56" height="56">
        <use xlink:href="themes/nuts/assets/images/sprite.svg#green_arrow_right"></use>
      </svg>
      <span>Товар проходит таможенный контроль и идет на склад покупателя.</span>
    </li>
  </ul>
</section>
