<section id="section_products" class="products">
  <h1>Наша продукция</h1>
  <span>Основными видами продукции являются:</span>
  <div class="swiper-container products__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper products__swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Ядро кедрового ореха</h3>
            <button class="button products__contact-button products__contact-button--seed">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--seed"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Ядро дальневосточного ореха ореха</h3>
            <button class="button products__contact-button products__contact-button--east">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--east"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Кедровое масло</h3>
            <button class="button products__contact-button products__contact-button--oil">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--oil"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Жмых кедрового ореха</h3>
            <button class="button products__contact-button products__contact-button--jmich">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--jmich"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Скорлупа кедрового ореха</h3>
            <button class="button products__contact-button products__contact-button--scorlupa">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--scorlupa"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Плёнка кедрового ореха</h3>
            <button class="button products__contact-button products__contact-button--plenka">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--plenka"></div>
        </div>
      </div>

      <div class="swiper-slide products__slide">
        <div class="products__slide-wrapper">
          <div class="products__slide-data">
            <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
            <h3>Колотое ядро кедрового ореха</h3>
            <button class="button products__contact-button products__contact-button--kolotoe">
              <p class="buttton__title">ПОДРОБНЕЕ</p>
              <span></span>
            </button>
          </div>
          <div class="products__slide-image products__slide-image--kolotoe"></div>
        </div>
      </div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev products__slide-controls products__slide-controls--prev">
      <svg width="32" height="32">
        <use xlink:href="#arrow_left"></use>
      </svg>
    </div>
    <div class="swiper-button-next products__slide-controls products__slide-controls--next">
      <svg width="32" height="32">
        <use xlink:href="#arrow_right"></use>
      </svg>
    </div>
    <!--        <svg width="50" height="100">-->
    <!--          <use xlink:href="themes/nuts/assets/images/sprite.svg#products-slide-prev"></use>-->
    <!--        </svg>-->

  </div>

  <!--        <svg width="50" height="100">-->
  <!--          <use xlink:href="themes/nuts/assets/images/sprite.svg#products-slide-next"></use>-->
  <!--        </svg>-->
</section>

