<section id="layout-content" class="products">
  <h1>Наша продукция</h1>
  <span>Основными видами продукции являются:</span>
  <div class="swiper-container products__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper products__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide products__slide">
        <div class="products__slide-data">
          <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
          <h3>Ядро кедрового ореха</h3>
          <button class="products__contact-button">
            <span>ПОДРОБНЕЕ</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide products__slide--oil"></div>
      <div class="swiper-slide products__slide--jmich">
        <div class="products__slide-data">
          <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
          <h3>Жмых кедрового ореха</h3>
          <button class="products__contact-button">
            <span>ПОДРОБНЕЕ</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide products__slide--oil"></div>
      <div class="swiper-slide products__slide">
        <div class="products__slide-data">
          <img class="products__slide-logo" src="themes/nuts/assets/images/svg/logo.svg" width="251" height="103" alt="SibNut">
          <h3>Ядро кедрового ореха</h3>
          <button class="products__contact-button">
            <span>ПОДРОБНЕЕ</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide products__slide--oil"></div>


    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev products__slide-prev"></div>
    <div class="swiper-button-next products__slide-next"></div>
  </div>
</section>

