<section id="layout-content" class="quality">
  <div class="swiper-container quality__wrapper">
    <div class="swiper-wrapper quality__wrapper-list">
      <div class="swiper-slide quality__wrapper-list-item">
        <h3 data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">СБОР</h3>
          <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Мы сотрудничаем с Заготовителями таких районов сбора как Республика Бурятия, Хакасия, Тува, Томская область. Мы закупаем только то сырье, которое прошло контроль соответствия Требованиям производства.</span>
      </div>
      <div class="swiper-slide quality__wrapper-list-item">
        <h3 data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">ОБОРУДОВАНИЕ</h3>
          <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Производство оснащено современным оборудованием из Германии и Китая, которое способно удалить даже самые мелкие инородные включения и примеси.</span>
      </div>
      <div class="swiper-slide quality__wrapper-list-item">
        <h3 data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">КАЧЕСТВО</h3>
          <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Наше предприятие работает по стандартам ГОСТ, BRC, HACCP, которые регулируют качество как продукта, так и работы самого завода в целом. Продукт проходит жесткий контроль качества очистки и влажности, проводимый высококвалифицированными технологами.</span>
      </div>
      <div class="swiper-slide quality__wrapper-list-item">
        <h3 data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">ТЕХНОЛОГИЯ</h3>
        <span data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out-back">Завод работает по особой технологии очистки ядра, которая позволяет получать наиболее качественный продукт. Конечной фазой переработки является вакуумная упаковка, которая позволяет сохранить превосходное качество ядра на долгое время. Продукт хранится только в сухом, темном и прохладномпомещении при температуре +5 градусов. Строгое соблюдение технологии производства является нашим главным требованием При подборе персонала.</span>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev quality__swiper-control"></div>
      <div class="swiper-button-next quality__swiper-control"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
