<section id="section_policy" class="policy">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <h1>THE PRIVACY POLICY OF PERSONAL DATA</h1>
        <p>The present policy of personal data (hereinafter – Privacy Policy) applies to all information that the website<strong>"Siberian Nut"</strong>,(the landing) located at the domain name<strong>https://sib-nut.com//</strong>(and its subdomains), may obtain about the User during use of the
          website https://sib-nut.com// (and its subdomains), its programmes and its products.</p>

        <h2>1. Definition of terms</h2>
        <p>1.1. The present Privacy Policy uses the following terms:</p>

        <p>1.1.1. "<strong>Site administration</strong>" (hereinafter referred to as the Administration) – authorized employees for the management of the site<strong>"Siberian Nut"</strong>,
          who organize and (or) process personal data, as well as determine the purposes of personal data processing, the composition of personal data to be processed, actions (operations) performed with personal data.</p>

        <p>1.1.2. "Personal data" means any information relating directly or indirectly to a specific or identifiable individual (subject of personal data).</p>

        <p>1.1.3. "Personal data processing" means any action (operation) or set of actions (operations) performed with or without the use of automation tools with personal data, including collection, recording, systematization, accumulation, storage, clarification (update, change), extraction, use,
          transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data.</p>

        <p>1.1.4. "Confidentiality of personal data" is a mandatory requirement for the Operator or other person who has access to personal data to prevent their dissemination without the consent of the personal data subject or other legal grounds.</p>

        <p>1.1.5. "Site <strong>"Siberian Nut"</strong>» - is a set of related web pages located on the Internet at a unique address (URL):<strong>https://sib-nut.com//</strong>, as well as its subdomains.</p>

        <p>1.1.6. "Subdomains" are pages or a set of pages located on third-level domains belonging to the site <strong>"Siberian Nut"</strong>, as well as other temporary pages that contain the Administration's contact information at the bottom.</p>

        <p>1.1.7. "User of the site <strong>"Siberian Nut"</strong>" (hereinafter referred to as the User) – a person who has access to the site <strong>"Siberian Nut"</strong>, via the Internet and uses the information, materials and products of the site <strong>"Siberian Nut"</strong>.</p>

        <p>1.1.8. "Cookies" — a small piece of data sent by the web server and stored on the user's computer, which the web client or web browser sends to the web server each time in an HTTP request when trying to open a page on the corresponding site.</p>

        <p>1.1.9. "IP address" — a unique network address of a node in the computer network, through which the User gets access to the landing page.</p>

        <h2>2. General information</h2>
        <p>2.1. Using the <strong>"Siberian Nut"</strong> site by the User means acceptance of this Privacy Policy and the terms of processing of personal data of the User.</p>

        <p>2.2. In case of disagreement with the terms of the Privacy Policy, the User must stop using the site <strong>"Siberian Nut"</strong>.</p>

        <p>2.3. This Privacy Policy applies to the website of <strong>"Siberian Nut"</strong>. Landing does not control and is not responsible for third-party sites to which the User can click on the links available on the site <strong>"Siberian Nut"</strong>.</p>

        <p>2.4. The administration does not verify the accuracy of personal data provided by the User.</p>

        <h2>3. Subject of Privacy Policy</h2>
        <p>3.1. This Privacy Policy establishes the obligations of the Administration for non-disclosure and ensuring the confidentiality of personal data that the User provides at the request of the Administration when registering on the site "Siberian Nut" or when subscribing to an e-mail
          newsletter.</p>

        <p>3.2. Personal data allowed to be processed under this Privacy Policy is provided by the User by filling out forms on the site <strong>"Siberian Nut"</strong> and includes the following information:<br>
          3.2.1. Surname, name, patronymic of the User;<br>
          3.2.2. User's contact phone number;<br>
          3.2.3. E-mail address;<br>
          3.2.4. The User's place of residence (if necessary);<br>
          3.2.5. Photo (if necessary);</p>

        <p>3.3. Landing protects Data that is automatically transmitted when you visit pages:<br>
          - IP address;<br>
          - information from cookies;<br>
          - information about the browser;<br>
          - access time;<br>
          - referrer (address of the previous page).</p>

        <p>3.3.1. Disabling cookies may make it impossible to access parts of the <strong>"Siberian Nut"</strong> site that requires authorization.</p>

        <p>3.3.2. Landing collects statistics about the IP addresses of its users. This information is used to prevent, detect, and resolve technical problems.</p>

        <p>3.4. Any other personal information not mentioned above (browsing history, browsers used, operating systems, etc.) is subject to secure storage and non-disclosure, except as provided in clause 5.2.of this Privacy Policy.</p>

        <h2>4. Purposes of collecting user's personal information</h2>
        <p>4.1. Personal data of the User Administration can be used for:<br>

          4.1.1. Identification of the User registered on the site <strong>"Siberian Nut"</strong> for further authorization.<br>

          4.1.2. Providing the User with access to personalized data of the site <strong>"Siberian Nut"</strong>.<br>

          4.1.3. Establishing feedback with the User, including sending notifications, requests concerning the use of the site <strong>"Siberian Nut"</strong>, processing requests and requests from the User.<br>

          4.1.4. Determining the User's location to ensure security and prevent fraud.<br>

          4.1.5. Confirmation of the accuracy and completeness of personal data provided by the User.<br>

          4.1.6. Notifying the User by e-mail. <br>

          4.1.7. Providing the User with effective technical support in case of problems related to the use of the site <strong>"Siberian Nut"</strong>.<br>

          4.1.8. Providing the User with the consent of special offers, newsletters and other information on behalf of the site <strong>"Siberian Nut"</strong>.</p>

        <h2>5. Ways and terms of processing personal information</h2>
        <p>5.1. Processing of the User's personal data is carried out without time limit, in any legal way, including in personal data information systems using automation tools or without using such tools.</p>

        <p>5.2. The User's Personal data may be transferred to the authorized state authorities of the Russian Federation only on the grounds and in accordance with the procedure established by the legislation of the Russian Federation.</p>

        <p>5.3. In case of loss or disclosure of personal data, the Administration has the right not to inform the User about the loss or disclosure of personal data.</p>

        <p>5.4. The Administration takes the necessary organizational and technical measures to protect the User's personal information from unauthorized or accidental access, destruction, modification, blocking, copying, distribution, as well as from other illegal actions of third parties. </p>

        <p>5.5. The Administration together with the User takes all necessary measures to prevent losses or other negative consequences caused by the loss or disclosure of the User's personal data.</p>

        <h2>6. The rights and obligations of the parties</h2>

        <p>6.1. The user has the right: </p>
        <p>6.1.1. To make a free decision on providing your personal data necessary for using the site <strong>"Siberian Nut"</strong>, and give consent to their processing. </p>

        <p>6.1.2. To update and supplement the provided information about personal data in case of changes to this information.</p>

        <p>6.1.3. The User has the right to receive information from the Administration concerning the processing of their personal data, if such right is not restricted in accordance with Federal laws. The user has the right to request the Administration to clarify his personal data, block or
          destroy them if the personal data is incomplete, outdated, inaccurate, illegally obtained or is not necessary for the stated purpose of processing, as well as to take legal measures to protect their rights. To do this, just notify the Administration at the specified E-mail address.</p>

        <p>6.2. The administration is obliged:</p>
        <p>6.2.1. To use the received information exclusively for the purposes specified in clause 4 of this Privacy Policy.</p>

        <p>6.2.2. To ensure that confidential information is kept confidential, not to disclose it without the User's prior written permission, and not to sell, exchange, publish, or otherwise disclose the User's personal data transmitted, except for clause 5.2. of this Privacy Policy.</p>

        <p>6.2.3. To take precautionary measures to protect the confidentiality of the User's personal data in accordance with the procedure usually used to protect this kind of information in the existing business turnover.</p>

        <p>6.2.4. To block personal data related to the relevant User from the moment of the User's request, or its legal representative or authorized body for the protection of the rights of personal data subjects for the period of verification, in case of identification of inaccurate personal data
          or illegal actions.</p>

        <h2>7. RESPONSIBILITY</h2>
        <p>7.1. The Administration, which has not fulfilled its obligations, is responsible for losses incurred by the User in connection with the misuse of personal data, in accordance with the legislation of the Russian Federation, except for the cases provided for in clauses 5.2. and 7.2. of this
          Privacy Policy.</p>

        <p>7.2. In case of loss or disclosure of Confidential information, the Administration is not responsible if this confidential information:<br>
          7.2.1. Became public domain before its loss or disclosure.<br>
          7.2.2. Was obtained from a third party prior to its receipt by the Administration of the Resource.<br>
          7.2.3. Was disclosed with the User's consent.</p>

        <p>7.3. The User is fully responsible for compliance with the requirements of the legislation of the Russian Federation, including laws on advertising, copyright and related rights protection, protection of trademarks and service marks, but not limited to the above, including full
          responsibility for the content and form of materials.</p>

        <p>7.4. The User acknowledges that the person who provided such information is responsible for any information (including, but not limited to: data files, texts, etc.) that the user may have access to as part of the <strong>"Siberian Nut"</strong> website.</p>

        <p>7.5. The User agrees that the information provided to him as part of the site <strong>"Siberian Nut"</strong> may be an object of intellectual property, the rights to which are protected and belong to other Users, partners or advertisers who publish such information on the site "Siberian Nut".
          The user may not modify, lease, loan, sell, distribute, or create derivative works based on such Content (in whole or in part), unless such actions have been expressly authorized in writing by the owners of such Content in accordance with the terms of a separate agreement.
        </p>

        <p>7.6. In relation to text materials (articles, publications that are in free public access on the site <strong>"Siberian Nut"</strong>), their distribution is allowed, provided that a link to the landing page is given.</p>

        <p>7.7. The Administration is not responsible to the User for any loss or damage suffered by the User as a result of deletion, failure or inability to save any Content and other communication data contained on the site <strong>"Siberian Nut"</strong> or transmitted through it.</p>

        <p>7.8. The Administration is not responsible for any direct or indirect losses that occurred due to: the use or inability to use the site or individual services; unauthorized access to User communications; statements or behavior of any third party on the site.</p>

        <p>7.9. The Administration is not responsible for any information posted by the User on the site <strong>"Siberian Nut"</strong>, including, but not limited to: information protected by copyright, without the Express consent of the copyright owner.</p>

        <h2>8. Dispute resolution</h2>

        <p>8.1. Before applying to the court with a claim for disputes arising from the relationship between the User and the Administration, it is mandatory to submit a claim (a written proposal or an electronic proposal for a voluntary settlement of the dispute).</p>

        <p>8.2. The recipient of the claim within 30 calendar days from the date of receipt of the claim, in writing or electronically notifies the claimant of the results of the claim review.</p>

        <p>8.3. If an agreement is not reached, the dispute will be referred to the arbitration court of Krasnoyarsk.</p>

        <p>8.4. The current legislation of the Russian Federation applies to this Privacy Policy and the relationship between the User and the Administration.</p>

        <h2>9. Additional terms and conditions</h2>
        <p>9.1. The Administration has the right to make changes to this Privacy Policy without the User's consent.</p>

        <p>9.2. The New Privacy Policy takes effect from the moment it is posted on the site <strong>"Siberian Nut"</strong>, unless otherwise provided by the new version of the Privacy Policy.</p>

        <p>9.3. Any suggestions or questions regarding this Privacy Policy should be sent to: <strong>https://sib-nut.com/</strong></p>

        <p>9.4. The current Privacy Policy is available on the page at <strong>http://https://sib-nut.com///policy-eng.html</strong></p>
      </strong></strong></div>
      <strong><strong>
      </strong></strong></div>
    <strong><strong>
    </strong></strong></div>
  <strong><strong>

  </strong></strong>
</section>
