<footer id="footer" class="footer footer--policy container">
  <div class="footer__container">
    <div href="{{ 'index-eng'|page }}" class="footer__logo">
      <img class="footer__logo-image link-to-teaser" src="themes/nuts/assets/images/svg/logo_en.svg" width="294" height="120" alt="SibNut" aria-label="Главная">
    </div>
    <div class="footer__container-contacts">
      <a class="footer__container-contact-button contact-button--feedback-js">
        <svg width="53" height="34.78">
          <use xlink:href="#mail"></use>
        </svg>
        <span>Write to us</span>
      </a>
      <a href="{{ 'index-eng'|page }}#section_contacts" class="footer__container-contact-button my-menu__link--contacts">
        <svg width="53" height="52">
          <use xlink:href="#phone"></use>
        </svg>
        <span>Contact us</span>
      </a>
    </div>

    <div class="footer__container-rights">
      <h3>ООО «Siberian Nut»</h3>
      <span>«All rights reserved. Without permission of owner of web-site you must never copy, modify, translate content of web-site»</span>
    </div>
  </div>
</footer>
