.about {
  position: relative;
  width: 100%;
  //margin: 0 auto;
  min-height: 1000px;
  background-image: url("../images/about/background_about.jpg");
  background-size: cover;

  @include tablet-max {
    background-image: url("../images/about/background_about_tablet.jpg");
    background-size: cover;
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 10px;
  }
}

.about__container {
  position: relative;
  //max-width: 1920px;
  min-height: 646px;
  padding-top: 105px;
  //margin: 0 auto;

  @include desktop-min {
    padding-top: 105px;
  }

  @include tablet {
    padding-top: 30px;
  }
}

.about__container-list {
  justify-content: center;
  min-height: 646px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  list-style: none;

  @include desktop-min {
    //flex-direction: column;
    //width: 80%;
  }

  @include tablet-max {
    //padding: 0 20px 20px 20px;
    flex-direction: column;
  }
}

.about__list-item {
  width: 25%;
  flex-direction: column;
  min-height: 595px;
  //border: 2px solid red;
  border-radius: 92px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  margin: 0 8px;
  background-color: #FFFFFF;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  //align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  @include desktop-min {
    min-height: 580px;
    font-size: 2rem;
    margin-bottom: 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  @include tablet-max {
    width: 80%;
    min-height: 534px;
  }


  @include mobile {
    padding: 20px;
    min-width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  & h3 {
    margin: 0 auto;
    display: block;
    width: 100%;
    font-size: 2em;
    line-height: 47px;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15%;


    @include desktop-min {
      font-size: 1em;
    }

    @include tablet-max {
      font-size: 1.8em;
      margin-bottom: 10%;
    }

    @include tablet {
      font-size: 1.2em;
      margin-bottom: 15%;
    }

    @include mobile-max {
      font-size: 0.5em;
    }

    @include mobile {
      font-size: 24px;
      line-height: 27px;
      margin: 10px;
    }
  }

  & svg {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
    //margin-bottom: 15px;
    //align-self: center;

    @include tablet-max {
      width: 50%;
    }

    @include mobile-max {
      width: 30%;
    }
  }


  & span {
    //max-width: 445px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;

    @include desktop-min {
      //min-width: 100%;
      //font-size: 24px;
      //line-height: 30px;
    }

    @include tablet-max {
      font-size: 2rem;
    }

    @include mobile-max {
      font-size: 1rem;
    }

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

//.about__list-item-wrapper {
//  display: flex;
//  flex-wrap: wrap;
//  align-items: center;
//
//  & svg {
//    align-self: center;
//  }
//}

