.catalog {
  position: relative;
  width: 100%;
  min-height: 1000px;
  background-image: url("../images/productionUnit/vetki_sverhu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 260px 140px 0 140px;
  box-sizing: border-box;


  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 10px;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: top;
    transform: scale(1, -1);
  }
}

.catalog__wrapper-list {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.catalog__wrapper-controls {
  min-width: 30%;
}

.catalog__wrapper-controls label {
  background-color: transparent;
  color: black;
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.catalog__wrapper-box {
  min-width: 70%;
}

.catalog__wrapper-box-item p {
  font-size: 26px;
  line-height: 44px;
  font-weight: 400;
  margin: 0;
}

.catalog__wrapper-box-item h3 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  margin: 0;
}

.catalog__wrapper-box-items {
  list-style: none;
}

.catalog__wrapper-box-packing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  & span {
    margin-bottom: 10px;
  }

  & h3 {
    margin-bottom: 10px;
  }
}

.catalog__wrapper-box-packing > * {
  margin: 0;
}

.catalog__wrapper-box-packing-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__wrapper-box-packing-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  @include effect-opacity;
}

.catalog__wrapper-box-storage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  //& h3 {
  //  width: 30%;
  //  text-align: right;
  //}

  & span {
    width: 65%;
    text-align: right;
  }
}

.catalog__button {
  display: inline-block;
  position: relative;
  padding: 0 19px;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #F47220;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  width: 354px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 60px;
  z-index: 0;

  @include effect-opacity;
}
//
//.catalog__wrapper-list input:nth-child(1):checked ~ .advantage-controls .advantage-controls-item--1,
//.catalog__wrapper-list input:nth-child(2):checked ~ .advantage-controls .advantage-controls-item--2,
//.catalog__wrapper-list input:nth-child(3):checked ~ .advantage-controls .advantage-controls-item--3 {
//  -webkit-box-sizing: content-box;
//  box-sizing: content-box;
//  height: auto;
//  padding-left: 2px;
//
//  color: red;
//
//  background-color: #000000;
//  border-right: 107px solid #000000;
//  outline: none;
//}
//.catalog__wrapper-list input:nth-child(1):checked ~ .advantage-controls .advantage-controls-item--1::after,
//.catalog__wrapper-list input:nth-child(2):checked ~ .advantage-controls .advantage-controls-item--2::after,
//.catalog__wrapper-list input:nth-child(3):checked ~ .advantage-controls .advantage-controls-item--3::after {
//  display: none;
//}
//
//input:nth-child(1):checked ~ .catalog__wrapper-box-packing-list .catalog__wrapper-box-packing-list-item:nth-child(1),
//input:nth-child(2):checked ~ .catalog__wrapper-box-packing-list .catalog__wrapper-box-packing-list-item:nth-child(2),
//input:nth-child(3):checked ~ .catalog__wrapper-box-packing-list .catalog__wrapper-box-packing-list-item:nth-child(3) {
//  display: list-item;
//}
