.catalog {
  position: relative;
  width: 100%;
  min-height: 1000px;
  background-image: url("../images/productionUnit/vetki_sverhu.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12.5% 7.3% 0;
  box-sizing: border-box;

  @include tablet-max {
    padding: 5.5% 7.3% 0;
    background-image: url("../images/productionUnit/vetki_sverhu_2.jpg");
    background-size: cover;
  }

  @include mobile-max {
    padding: 10% 7.3% 0;
    background-image: url("../images/productionUnit/vetki_sverhu_3.jpg");
    background-size: cover;
  }


  &::after {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 0;
    background-image: url(../images/svg/zig-zag.svg);
    background-repeat: repeat-x;
    background-position: top;
    transform: rotate(180deg);
    width: 100%;
    height: 10px;
    z-index: 999999999999;

    @include mobile-max {
    }

  }
}

.catalog__slide {
  display: none;
}

.catalog__wrapper-list {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  @include desktop-min {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop-min {
    padding-bottom: 0;
  }
}

.catalog__wrapper-controls {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  width: 30%;

  @include tablet {
    width: 100%;
  }

  & label {
    background-color: transparent;
    color: black;
    font-size: 30px;
    line-height: 33px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    //padding: 10px;

    @include tablet-max {
      font-size: 21px;
      line-height: 21px;
      padding: 0;
    }

    @include tablet {
      padding: 0;
      margin-bottom: 10px;
    }

    @include mobile-max {
      font-size: 17px;
      padding: 0;
    }
  }
}

.catalog__list {
  padding: 0;
  box-sizing: border-box;
  width: 70%;
  min-height: 941px;

  @include tablet {
    width: 100%;
    margin: 0;
  }

}


.catalog__controls {
  min-width: 424px;
  text-align: center;
  //margin-right: 20px;
  padding-right: 2%;

  @include desktop-min {
    min-width: 100%;

    & label {
      font-size: 21px;
    }
  }

}

.catalog__wrapper-controls-item {
  width: 100%;
  color: black;

  &:hover {
    border-radius: 50px 0 0 50px;
    background-color: rgba(94, 170, 47, 0.6);
  }


  @include desktop-min {
    //width: 50%;
  }
}

#advantage-1:checked ~ .catalog__wrapper-controls label[for="advantage-1"],
#advantage-2:checked ~ .catalog__wrapper-controls label[for="advantage-2"],
#advantage-3:checked ~ .catalog__wrapper-controls label[for="advantage-3"],
#advantage-4:checked ~ .catalog__wrapper-controls label[for="advantage-4"],
#advantage-5:checked ~ .catalog__wrapper-controls label[for="advantage-5"],
#advantage-6:checked ~ .catalog__wrapper-controls label[for="advantage-6"] {
  background-color: #5eaa2f;
  border-radius: 50px 0 0 50px;
  padding: 9px 0;
  @include tablet {
    border-radius: 50px;
  }
}

#advantage-1:checked ~ .catalog__list #advantage-1,
#advantage-2:checked ~ .catalog__list #advantage-2,
#advantage-3:checked ~ .catalog__list #advantage-3,
#advantage-4:checked ~ .catalog__list #advantage-4,
#advantage-5:checked ~ .catalog__list #advantage-5,
#advantage-6:checked ~ .catalog__list #advantage-6 {
  display: flex;
}


.catalog__slide {
  //min-width: 1182px;
  min-height: 941px;
  border-left: 15px solid #5eaa2f;
  padding-left: 10px;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    width: 100%;
    border-left: none;
    border-top: 2px solid rgba(255, 0, 0, .2);
  }

  @include mobile-max {
    padding-left: 0;
  }
}

.catalog__wrapper-box {
  min-width: 70%;
}

.catalog__wrapper-box-item p {
  font-size: 26px;
  line-height: 44px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;

  @include tablet-max {
    font-size: 20px;
    line-height: 32px;
  }

  @include mobile-max {
    font-size: 16px;
    line-height: 21px;
  }
}

.catalog__wrapper-box-item span {
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  display: block;

  @include mobile-max {
    font-size: 16px;
    line-height: 21px;
  }
}

.catalog__wrapper-box-item h3 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;

  @include mobile-max {
    text-align: center;
    font-size: 28px;
  }
}

p.catalog__wrapper-box-item-packing {
  text-align: center;
  font-weight: 800;
}


.catalog__wrapper-box-packing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & span {
    margin-bottom: 10px;

    @include mobile-max {
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    }
  }

  & h3 {
    margin-bottom: 10px;
  }
}

.catalog__wrapper-box-packing-slide img {
  display: block;
  margin: 0 auto;
}

.catalog__wrapper-box-packing-slide span {
  text-align: center;
  display: block;
}

.catalog__wrapper-box-packing > * {
  margin: 0;
}

.catalog__wrapper-box-packing-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;

  @include tablet-max {
    //width: 50%;
    //flex-wrap: nowrap;
  }
}

.catalog__wrapper-box-packing-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
  width: 70%;
  //width: 100%;

  @include tablet-max {
    margin: 0;
    flex-wrap: wrap;
  }


  & img {
    width: 100%;
    border-radius: 50px;

    @include effect-opacity;
  }

}

.catalog__wrapper-box-list {
  margin-bottom: 20px;
}

.catalog__wrapper-box-storage {
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .catalog__button {

    @include tablet-max {
      width: 35%;
    }

    @include tablet {
      width: 35%;
    }

    @include mobile-max {
      width: 100%;
      order: 1;
      font-size: 17px;
    }
  }

  @include tablet {
    flex-wrap: wrap;
  }

  & span {
    width: 65%;
    text-align: right;

    @include mobile-max {
      width: 100%;
      text-align: left;
    }
  }
}

.catalog__button {
  display: inline-block;
  position: relative;
  padding: 0 19px;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #F47220;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 60px;
  z-index: 0;

  @include effect-opacity;
}

.catalog__slide-controls::after {
  display: none;
}

.catalog__slide-controls {
  //top: 25%;
  //background-color: rgba(0, 0, 0, .3);
  //height: 32px;
  @include effect-opacity;
}

.catalog__slide-controls--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 54%;
  display: none;

  @include tablet-max {
    top: 20%;
    display: block;
  }

  @include mobile-max {
    left: 13px;
    top: 54%;
  }
}

.catalog__slide-controls--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 54%;
  display: none;

  @include tablet-max {
    top: 20%;
    display: block;
  }

  @include mobile-max {
    right: 13px;
    top: 54%;
  }
}

.catalog__slide-controls-shell::after {
  display: none;
}

.catalog__slide-controls-shell--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999999999999;
  //top: 54%;
  //display: none;
  left: 0;

  @include tablet-max {
    top: 20%;
    display: block;
  }

  @include mobile-max {
    left: 13px;
    top: 10%;
  }
}

.catalog__slide-controls-shell--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 999999999999999999999;
  //top: 54%;
  //display: none;
  right: 0;

  @include tablet-max {
    top: 20%;
    display: block;
  }

  @include mobile-max {
    right: 13px;
    top: 10%;
  }
}

.catalog__container-shell {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.catalog__container-shell-slide img {
  display: block;
  margin: 0 auto;
}


