.certificates {
  position: relative;
  width: 100%;
  //margin: 0 auto;
  //min-height: 1080px;
  background-image: url("../images/certificates/background_certificates.jpg");
  background-size: cover;
  padding: 1% 7.3% 3%;
  box-sizing: border-box;
  text-align: center;

  @include tablet-max {
    padding: 1% 7.3% 3%;
    background-image: url("../images/certificates/background_certificates_tablet.jpg");
    background-size: cover;
  }

  @include mobile-max {
    padding: 1% 7.3% 3%;
    background-image: url("../images/certificates/background_certificates_mobile.jpg");
    background-size: cover;
  }

  &::before {
    content: " ";
    position: absolute;
    top: -8px;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 10px;
    z-index: 99999999999;

    @include mobile-max {
      top: -8px;
    }

  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/svg/zig-zag.svg);
    background-repeat: repeat-x;
    background-position: top;
    //transform: rotate(180deg);
    width: 100%;
    height: 10px;
    z-index: 999999999999;

    @include mobile-max {
      bottom: -1px;
    }

  }
}

.certificates__titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  & h1 {
    display: block;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    //padding-bottom: 30px;

    @include tablet-max {
      font-size: 40px;
      line-height: 52px;
      letter-spacing: 10px;
      padding: 0;
    }

    @include mobile-max {
      font-size: 40px;
      line-height: 52px;
      letter-spacing: 5px;
    }
  }

  & span {
    display: block;
    //content: " ";
    //position: absolute;
    //top: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    padding-bottom: 40px;
    //letter-spacing: 6px;

    @include tablet-max {
      font-size: 22px;
      line-height: 36px;
      padding-bottom: 20px;
      //letter-spacing: 3px;
    }

    @include mobile-max {
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
}

.sertificates__swiper {
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  max-width: 1641px;
}

.fotorama__wrap {
  margin: 0 auto;
}

.fotorama__fullscreen-icon {
  background-color: rgba(0, 0 ,0,.1);
  border-radius: 25px;
}

.fotorama__arr--next {
  background-color: rgba(0, 0 ,0,.1);
  border-radius: 25px;
}

.fotorama__arr--prev {
  background-color: rgba(0, 0 ,0,.1);
  border-radius: 25px;
}

.p {
  font-family: helvetica;
  font-size: 24px;
}

.certificates__protocols {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 25px;
  max-width: 1518px;
  min-height: 167px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @include tablet-max {
    min-height: 0;
  }

  @include mobile-max {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  & span {
    display: block;
    color: #FFFFFF;
    font-size: 39px;
    line-height: 47px;
    font-weight: 200;
    max-width: 1392px;

    @include tablet-max {
      font-size: 22px;
      line-height: 36px;
    }

    @include mobile-max {
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  & svg {
    min-width: 116px;

    @include effect-opacity;

    @include mobile-max {
      margin-bottom: 10px;
    }
  }
}

.certificates__slider-controls::after {
  display: none;
}

.certificates__slider-controls {
  //background-color: rgba(0, 0, 0, .3);
  //height: 32px;
  @include effect-opacity;
}

.certificates__slider-controls--prev {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 8%;
  display: none;

  @include mobile-max {
    left: 9px;
  }

  @include tablet {
    top: 12%;
  }

  @include tablet-max {
    top: 53%;
    display: block;
  }
}

.certificates__slider-controls--next {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  z-index: 9999999999;
  //top: 8%;
  display: none;

  @include mobile-max {
    right: 9px;
  }

  @include tablet {
    top: 12%;
  }

  @include tablet-max {
    top: 53%;
    display: block;
  }
}


