.gallery {
  position: relative;
  width: 100%;
  //margin: 0 auto;
  //min-height: 1241px;
  background-image: url("../images/gallery/background_gallery.jpg");
  background-size: cover;
  background-position-x: center;
  box-sizing: border-box;
  padding: 0 7.3%;


  @include tablet-max {
    background-image: url("../images/gallery/background_gallery_tablet.jpg");
    background-size: cover;
  }

  @include mobile-max {
    background-image: url("../images/gallery/background_gallery_mobile.jpg");
    background-size: cover;
  }

  &::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position-x: 42px;
    width: 100%;
    height: 10px;
    transform: rotate(180deg);


    //@include mobile-max {
    //  top: -8px;
    //}

  }
}

.gallery__header {
  padding-top: 43px;
  margin-bottom: 43px;
}

.gallery__title {
  background-color: rgba(0, 0, 0, .8);
  max-width: 466px;
  margin: 0 auto;

  & span {
    display: block;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;

    @include mobile-max {
      font-size: 40px;
    }
  }
}

.gallery_container {
  position: relative;
  max-width: 1641px;
  margin: 0 auto;
  padding-bottom: 140px;
  //min-height: 1001px;
  //background-image: url("../images/gallery/video_skrin.jpg");
  //background-size: cover;

  @include desktop-min {
    padding-bottom: 70px;
  }

  @include tablet-max {
    padding-bottom: 70px;
  }

  & svg {
    display: block;
    margin: 0 auto;
    padding-top: 420px;
    @include effect-opacity;
  }

  //&::after {
  //  content: " ";
  //  position: absolute;
  //  top: 10px;
  //  right: 10px;
  //  background-image: url("../images/svg/sound_on.svg");
  //  width: 67px;
  //  height: 67px;
  //
  //  @include effect-opacity;
  //}
}
