.gallery {
  position: relative;
  width: 100%;
  //margin: 0 auto;
  min-height: 1241px;
  background-image: url("../images/gallery/background_gallery.jpg");
  background-size: cover;
  box-sizing: border-box;
  padding: 0 140px;

  //@include desktop-min {
  //  background-image: url("../images/about/background_about_tablet.jpg");
  //  background-size: cover;
  //}

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
    height: 10px;
    transform: scale(1, -1);
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 10px;
  }
}

.gallery__header {
  padding-top: 43px;
  margin-bottom: 43px;
}

.gallery__title {
  background-color: rgba(0, 0, 0, .8);
  width: 364px;
  margin: 0 auto;

  & span {
    display: block;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
  }
}

.gallery_container {
  position: relative;
  max-width: 1641px;
  margin: 0 auto;
  min-height: 1001px;
  background-image: url("../images/gallery/video_skrin.jpg");
  //background-size: cover;

  & svg {
    display: block;
    margin: 0 auto;
    padding-top: 420px;
    @include effect-opacity;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../images/svg/sound_on.svg");
    width: 67px;
    height: 67px;

    @include effect-opacity;
  }
}
