.map {
  position: relative;
  width: 100%;
  min-height: 1000px;
  background-image: url("../images/map/background_map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 29px 140px 29px 140px;
  box-sizing: border-box;


  //&::before {
  //  content: " ";
  //  position: absolute;
  //  top: 0;
  //  right: 10px;
  //  width: 100%;
  //  height: 10px;
  //  background-image: url("../images/svg/zig-zag.svg");
  //  background-repeat: repeat-x;
  //  background-position: top;
  //  transform: scale(1, -1);
  //}
}

.map__container {
  position: relative;
  background-color: rgba(0, 0, 0, .15);
  min-width: 1640px;
  height: 708px;
  box-sizing: border-box;
  padding: 35px;

  &::before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 35px;
    background-image: url("../images/map/map.jpg");
    background-size: contain;
    //background-repeat: no-repeat;
    width: 96%;
    min-height: 644px;
  }
}
