.partners {
  position: relative;
  width: 100%;
  min-height: 1080px;
  background-image: url("../images/partners/background_partners.jpg");
  background-size: cover;
  padding: 150px 140px 20px 140px;
  box-sizing: border-box;

  &::before {
    z-index: 1;
    content: " ";
    position: absolute;
    top: 0;
    left: 10px;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: top;
    width: 100%;
    height: 10px;
    transform: scale(1, -1);
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 10px;
  }

  & span {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    max-width: 1434px;
    border-radius: 24px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 3.3px;
    padding-bottom: 5px;
  }
}

.partners__title {
  width: 100%;
  text-align: center;
  height: 123px;
  background-color: rgba(0, 0, 0, .6);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  top: 0;
  position: absolute;
  left: 0;

  & h1 {
    margin: 0 auto;
    max-width: 1640px;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.partners__list {
  list-style: none;
  padding: 0;
}

.partners__list-item {
  position: relative;
  margin: 0 auto;
  width: 1640px;
  background-color: rgba(0, 0, 0, .6);
  margin-bottom: 56px;
  padding: 28px 0 28px 40px ;
  box-sizing: border-box;
  border-radius: 88px;
  display: flex;
  align-items: center;

  @include effect-opacity;

  & span {
    background-color: transparent;
    font-size: 39px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0;
    width: 50%;
    margin-right: 60px;
  }
}

.partners__list-item-icon {
  content: " ";
  position: absolute;
  top: 25%;
  left: 2%;
}

.partners__list-item-arrow {
  content: " ";
  position: absolute;
  top: 25%;
  left: 45%;
}
