.products {
  box-sizing: border-box;
  padding: 0 7.3%;

  @include mobile-max {
    padding: 10% 7.3%;
  }

  & h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-align: center;

    @include mobile-max {
      font-size: 39px;
      line-height: 79px;
      margin: 0;
    }
  }

  & span {
    text-align: center;
    display: block;
    margin-bottom: 50px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 1.6px;

    @include mobile-max {
      font-size: 33px;
      line-height: 30px;
      margin: 0;
      letter-spacing: 0.1px;
      margin-bottom: 20px;
    }
  }
}

.products__swiper {
  max-width: 1640px;
}


.products__swiper-wrapper {
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: row;
  margin-bottom: 100px;

  @include mobile-max {
    margin-bottom: 0;
  }
}

.products__slide-data {
  background-image: url("../images/products/1_background_wood.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
  padding-top: 98px;

  @include desktop-min {
    padding-bottom: 42px;
    padding-top: 36px;
  }

  @include tablet-max {
    padding-bottom: 60px;
    padding-top: 40px;
  }

  @include mobile-max {
    padding-bottom: 42px;
    padding-top: 26px;
  }

  & h3 {
    margin: 0;
    margin-bottom: 46px;
    font-size: 37px;
    line-height: 54px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;

    @include desktop-min {
      font-size: 25px;
      line-height: 37px;
    }

    @include tablet-max {
      font-size: 35px;
      line-height: 49px;
    }

    @include mobile-max {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.products__swiper .products__slide:nth-child(2n+2) .products__slide-wrapper {
  flex-direction: column-reverse;
  //opacity: 0.5;
}


.products__slide-wrapper {
  display: flex;
  flex-direction: column;
}

.products__slide-image {


  &--seed {
    background-image: url("../images/products/seed_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--oil {
    background-image: url("../images/products/2_background_oil.jpg");
    background-size: cover;
    background-position: center;
  }

  &--jmich {
    background-image: url("../images/products/jmich_nut.jpg");
    background-size: cover;
    background-position: left;
    background-position-x: 31%;
  }

  &--scorlupa {
    background-image: url("../images/products/scorlupa_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--plenka {
    background-image: url("../images/products/plenka_nut.jpg");
    background-size: cover;
    background-position: center;
  }

  &--kolotoe {
    background-image: url("../images/products/kolotoe_nut.jpg");
    background-size: cover;
    background-position: center;
    background-position-x: -235px;
  }
}

.products__slide-logo {
  margin-bottom: 77px;
  width: 400px;


  @include desktop {
    //margin-bottom: 77px;
  }

  @include desktop-min {
    width: 300px;
  }

  @include mobile-max {
    width: 200px;
    margin-bottom: 10px;
  }
}


.products__contact-button {
  display: block;
  width: 320px;
  min-height: 59px;
  position: relative;
  border-radius: 30px;
  background-color: #F47220;
  box-sizing: border-box;
  padding: 14px;
  text-transform: uppercase;
  border: none;

  @include desktop-min {
    width: 230px;
  }

  @include mobile-max {
    width: 150px;
    min-height: 0;
    padding: 8px;
  }


  & span {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    margin: 0;

    @include mobile-max {
      font-size: 19px;
    }
  }

  @include effect-opacity;
}

.products__slide-prev {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  top: 22px;
  left: 0;
  z-index: 9999999999;

  @include desktop-min {
    width: 70px;
    height: 70px;
  }

  @include mobile-max {
    display: none;
  }
}

.products__slide-next {
  position: absolute;
  content: " ";
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  top: 22px;
  right: 0;
  z-index: 9999999999;

  @include desktop-min {
    width: 70px;
    height: 70px;
  }

  @include mobile-max {
    display: none;
  }
}
