//.swiper-container {
//  background-image: url("../images/products/back12.jpg");
//  background-size: cover;
//  color: white;
//
//  &::before {
//    content: " ";
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    background-image: url("../images/svg/zig-zag.svg");
//    background-repeat: no-repeat;
//    background-position: bottom;
//    width: 100%;
//    height: 10px;
//  }
//}
