.quality {
  position: relative;
  width: 100%;
  //margin: 0 auto;
  min-height: 1277px;
  background-image: url("../images/quality/background_quality.jpg");
  background-size: cover;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 10px;
    transform: scale(1, -1);
  }

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/svg/zig-zag.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 10px;
  }
}

.quality__wrapper {
  padding-left: 692px;
  padding-top: 110px;
}

.quality__wrapper-list {
  list-style: none;
}

.quality__wrapper-list-item {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 44px;

  & h3 {
    margin: 0;
    //margin: 0 0 30px 30px;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
  }

  & span {
    font-size: 26px;
    line-height: 42px;
    font-weight: 400;
  }


  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    //display: block;
    //width: 100%;
    height: 97.9%;
    border: 3px solid #F47220;
  }
}
