.modal {
  position: fixed;
  ::-webkit-input-placeholder {color:$black;}
  ::-moz-placeholder          {color:$black;}/* Firefox 19+ */
  :-moz-placeholder           {color:$black;}/* Firefox 18- */
  :-ms-input-placeholder      {color:$black;}
}

.index-write-us,
.grater-video,
.index-video,
.grater-shop,
.vacancies {
  display: none;
  width: 60%;
  padding: 93px 100px 78px;
  top: 100px;
  left: 15%;
  //transform: translateX(-50%) translateY(-50%);
  //top: 50%;
  //left: 50%;
  z-index: 2000;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  background-color: #fff;

  & input, textarea {
    margin-top: 7px;
  }

  & textarea {
    box-sizing: border-box;
    margin-top: 4px;
    padding: 0;
    padding-left: 20px;
    padding-top: 15px;
  }

  & label {
    font-family: gilroy, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: normal;

  }

  & .button {
    padding: 8px 34px;
  }
}

.grater-shop {
  padding: 10px;
  //transform: translateX(-50%) translateY(-50%);
  //top: 50%;
  //left: 50%;
}


.modal-show {
  display: block;
  //left: 50%;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}


.write-us-wrapper {
  display: flex;
  margin-bottom: 30px;

  & input {
    display: block;
  }
}

.close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
  outline: none;
  z-index: 3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.name-input input,
.phone-input input,
.mail-input input {
  box-sizing: border-box;
  width: 100%;

  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
}

.mail-input input:hover:invalid {
  background-color: #edb5b5;
  border-color: #edb5b5;
}

.name-input {
  width: 48%;
  margin-right: 40px;
}

.mail-input {
  width: 48%;

}

.phone-input {
  margin: 0 auto;
  display: block;
  width: 50%;
  margin-bottom: 30px;
}

.letter-input textarea {
  width: 760px;
  height: 156px;
  margin-bottom: 32px;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.modal__button {

  width: 50%;
  margin: 0 auto;
  display: block;

}

.modal__policy {

  font-size: 15px;
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
  margin-bottom: 0;

  &-link {
    color: $black;
    padding-left: 7px;
    text-decoration: underline;
  }
}


@media (max-width: $desktop-width) {

  .title {
    font-size: 34px;
    line-height: 38px;
  }
  .text {
    font-size: 19px;
    line-height: 19px;
  }

  .index-write-us {
    left: 7%;
  }

}

@media (max-width: $tablet-width) {

  .index-write-us,
  .vacancies {
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 94px 10px 78px;
  }

  .vacancies__title {
    color: #000;
  }

  .write-us-wrapper {
    flex-wrap: wrap;
  }

  .name-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mail-input {
    width: 100%;
  }

  .phone-input {
    width: 100%;
  }

}

